.markets-subtitle{
    margin-top: 16px;
    text-align: start;

    @include laptop {
        max-width: 814px;
        margin-top: 24px;
        text-align: center;
    }
}

.markets-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    margin-top: 32px;

    @include tablet {
        display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 1fr;
            gap: 32px;
    }

    @include laptop {
        grid-template-columns: repeat(4, 1fr);
    }
}

.markets-card{
    display: flex;
        flex-direction: column;
        border-radius: 32px;
        padding: 24px;
        width: 100%;
        background-color: #050505;
        position: relative;
        overflow: hidden;
        z-index: 1;
        transition: box-shadow var(--timing-function);
    
        @include laptop {
            min-height: 395px;
        }
    
        &:hover {
            .hover-content {
                transform: translateY(0);
                opacity: 1;
            }
    
            .blur-background {
                opacity: 1;
            }
        }
}

.gold-card-markets{
    background-image: url('/img/choice/choice-bg.avif');
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    width: 100%;
}