<section class="markets-section" id="markets">
    <div class="container">
        <div class="choice-title-wrap">
        <h2 class="title"><span class="accent-text">Mevcut piyasalardan </span><span>herhangi birinde işlem yapın</span> 
        </h2>
        <p class="text markets-subtitle" >Bitcoin, S&P 500, altın, EUR/USD ve 100'den fazla varlıkla işlem yapın. Tek bir hesaptan kripto paralar, hisse senedi endeksleri, emtialar ve Forex piyasalarına kolay erişim sağlayın.</p>
        </div>
        <div class="markets-cards">
            <a href="" class="markets-card gold-card-markets">
                <div class="blur-background"></div>
                <div class="hover-content" data-i18n="choiceSection.learnMore">Daha Fazla Bilgi</div>
                <div class="choices-icon-wrap">
                    <img
                    src="/img/markets/money-recive.svg"
                    alt="image"
                    width="50"
                    height="50"
                    />
                </div>
                    <h4 class="small-title" data-i18n="choiceSection.card1Title">Döviz</h4>
                    <p class="choices-card-text" data-i18n="choiceSection.card1Text">Döviz ticaretinin, hepimizin iyi bildiği bir başka adı vardır - Forex. Döviz işlemleri, döviz piyasasında gerçekleştirilir.</p>
                <div class="choices-arrow-wrap">
                    <img
                    src="/img/choice/arrow-gold.svg"
                    alt="arrow"
                    />
                </div>
            </a>
            <a href="" class="markets-card">
                <div class="blur-background"></div>
                <div class="hover-content" data-i18n="choiceSection.learnMore">Daha Fazla Bilgi</div>
                <div class="choices-icon-wrap" style="background-color: transparent;">
                <img
                    src="/img/markets/diagram.svg"
                    alt="image"                    
                    width="50"
                    height="50"
                    />
                    </div>
                    <h4 class="small-title" data-i18n="choiceSection.card2Title">Endeksler</h4>
                    <p class="choices-card-text" data-i18n="choiceSection.card2Text">Depozitonuzu artırmak için uzun vadeli veya kısa vadeli hisse senedi endeksi işlemleri seçin.</p>
                <div class="choices-arrow-wrap gradient">
                    <img
                    src="/img/choice/arrow-white.svg"
                    alt="arrow"
                    />
                </div>
            </a>
            <a href="" class="markets-card">
                <div class="blur-background"></div>
                <div class="hover-content" data-i18n="choiceSection.learnMore">Daha Fazla Bilgi</div>
                <div class="choices-icon-wrap" style="background-color: transparent;">
                <img
                    src="/img/markets/money-tick.svg"
                    alt="image"
                    width="50"
                    height="50"
                    />
                    </div>
                    <h4 class="small-title" data-i18n="choiceSection.card3Title">Hisse Senetleri</h4>
                    <p class="choices-card-text" data-i18n="choiceSection.card3Text">Borsa, şimdiden binlerce tüccar ve yatırımcıyı zengin etti. Şimdi başlamak için en iyi zaman. Oskar Group ile minimal başlangıç sermayesiyle bile hisse senedi ticaretine başlayabilirsiniz.</p>
                <div class="choices-arrow-wrap gradient">
                    <img
                    src="/img/choice/arrow-white.svg"
                    alt="arrow"
                    />
                </div>
            </a>
            <a href="" class="markets-card">
                <div class="blur-background"></div>
                <div class="hover-content" data-i18n="choiceSection.learnMore">Daha Fazla Bilgi</div>
                <div class="choices-icon-wrap" style="background-color: transparent;">
                <img
                    src="/img/markets/voice-cricle.svg"
                    alt="image"                    
                    width="50"
                    height="50"
                    />
                    </div>
                    <h4 class="small-title" data-i18n="choiceSection.card2Title">Kripto para</h4>
                    <p class="choices-card-text" data-i18n="choiceSection.card2Text">Kripto para birimleri düşündüğünüzden daha yakın! Hemen bir hesap açın ve kripto para ticaretine her yönde başlayın.</p>
                <div class="choices-arrow-wrap gradient">
                    <img
                    src="/img/choice/arrow-white.svg"
                    alt="arrow"
                    />
                </div>
            </a>
        </div>
        <load ="partials/markets-table/markets-table.html" />
    </div>
</section>