.markets-subtitle{
    margin-top: 24px;

    @include laptop {
        max-width: 814px;
    }
}

.markets-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    margin-top: 32px;

    @include tablet {
        display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 1fr;
            gap: 32px;
    }

    @include laptop {
        grid-template-columns: repeat(4, 1fr);
    }
}

.markets-card{
    display: flex;
        flex-direction: column;
        border-radius: 32px;
        padding: 24px;
        width: 100%;
        background-color: #050505;
        position: relative;
        overflow: hidden;
        z-index: 1;
        transition: box-shadow var(--timing-function);
    
        @include laptop {
            min-height: 395px;
        }
    
        &:hover {
            .hover-content {
                transform: translateY(0);
                opacity: 1;
            }
    
            .blur-background {
                opacity: 1;
            }
        }
}

.gold-card-markets{
    background-image: url('/img/choice/choice-bg.avif');
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    width: 100%;
}

.markets-table{
    display: none;

    @include tablet {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 32px;
        border-radius: 32px;
        padding: 32px;
        background-image: url('/img/markets/bg-table.avif');
        background-size: cover;
        background-position: top center;
        background-repeat: no-repeat;
        width: 100%;
    }

        @include laptop {
            height: 590px;
        }
}

.markets-colums {
    width: 100%;

    @include laptop {
        width: 1104px;
        height: 514px;
    }
}

.markets-rows-wrap{
    position: absolute;
    left: 45px;
    top: 100px;
    padding: 0 16px 32px 0;
    height: 200px;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: var(--gold) #f1f1f1;
    

    width: 640px;

    @include laptop {
            left: 95px;
            top: 147px;
            height: 398px;
            padding: 0 16px 32px 0;
            width: 1048px;
        }
}

.markets-rows-wrap::-webkit-scrollbar {
    width: 6px;
    /* Ширина скроллбара */
}

.markets-rows-wrap::-webkit-scrollbar-track {
    background: transparent;
    /* Цвет фона полосы */
}

.markets-rows-wrap::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #d1d1d1, #d4a24c);
    /* Градиентная заливка */
    border-radius: 10px;
    /* Скругленные края */
}

.markets-rows-wrap::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to bottom, #c1c1c1, #bf8e40);
    /* Градиент при наведении */
}