<section class="markets-section" id="markets">
    <div class="container">
        <div class="choice-title-wrap"
        data-aos="fade-up"
                data-aos-offset="200"
                data-aos-delay="50"
                data-aos-duration="1000"
                data-aos-easing="ease-in-out"
                data-aos-mirror="true"
                data-aos-once="false"
                data-aos-anchor-placement="top-left">
            <h2 class="title"><span class="accent-text">Trading on </span><span>any of the available markets</span> 
            </h2>
            <p class="text markets-subtitle" >Trade Bitcoin, S&P 500, gold, EUR/USD and over 100 assets. Get easy access to cryptocurrencies, stock indices, commodities and Forex markets from one account.</p>
        </div>
        <div class="markets-cards">
            <a href="" class="markets-card gold-card-markets">
                <div class="blur-background"></div>
                <div class="hover-content" data-i18n="choiceSection.learnMore">Learn More</div>
                <div class="choices-icon-wrap">
                    <img
                    src="/img/markets/money-recive.svg"
                    alt="image"
                    width="50"
                    height="50"
                    />
                </div>
                    <h4 class="small-title" data-i18n="choiceSection.card1Title">Currency</h4>
                    <p class="choices-card-text" data-i18n="choiceSection.card1Text">Currency trading has an alternative name, well known to each of us - Forex. Currency transactions are carried out in the foreign exchange market.</p>
                <div class="choices-arrow-wrap">
                    <img
                    src="/img/choice/arrow-gold.svg"
                    alt="arrow"
                    />
                </div>
            </a>
            <a href="" class="markets-card">
                <div class="blur-background"></div>
                <div class="hover-content" data-i18n="choiceSection.learnMore">Learn More</div>
                <div class="choices-icon-wrap" style="background-color: transparent;">
                <img
                    src="/img/markets/diagram.svg"
                    alt="image"                    
                    width="50"
                    height="50"
                    />
                    </div>
                    <h4 class="small-title" data-i18n="choiceSection.card2Title">Indices</h4>
                    <p class="choices-card-text" data-i18n="choiceSection.card2Text">Choose long-term or short-term stock index trades to increase your deposit.</p>
                <div class="choices-arrow-wrap gradient">
                    <img
                    src="/img/choice/arrow-white.svg"
                    alt="arrow"
                    />
                </div>
            </a>
            <a href="" class="markets-card">
                <div class="blur-background"></div>
                <div class="hover-content" data-i18n="choiceSection.learnMore">Learn More</div>
                <div class="choices-icon-wrap" style="background-color: transparent;">
                <img
                    src="/img/markets/money-tick.svg"
                    alt="image"
                    width="50"
                    height="50"
                    />
                    </div>
                    <h4 class="small-title" data-i18n="choiceSection.card3Title">Stocks</h4>
                    <p class="choices-card-text" data-i18n="choiceSection.card3Text">The stock market has already enriched more than a thousand traders and investors. Now is the best time to start. With Oskar Group you can start trading stocks even with minimal starting capital.</p>
                <div class="choices-arrow-wrap gradient">
                    <img
                    src="/img/choice/arrow-white.svg"
                    alt="arrow"
                    />
                </div>
            </a>
            <a href="" class="markets-card">
                <div class="blur-background"></div>
                <div class="hover-content" data-i18n="choiceSection.learnMore">Learn More</div>
                <div class="choices-icon-wrap" style="background-color: transparent;">
                <img
                    src="/img/markets/voice-cricle.svg"
                    alt="image"                    
                    width="50"
                    height="50"
                    />
                    </div>
                    <h4 class="small-title" data-i18n="choiceSection.card2Title">Cryptocurrencies</h4>
                    <p class="choices-card-text" data-i18n="choiceSection.card2Text">Cryptocurrencies are closer than you think! Open an account now and start trading cryptocurrencies in any direction.</p>
                <div class="choices-arrow-wrap gradient">
                    <img
                    src="/img/choice/arrow-white.svg"
                    alt="arrow"
                    />
                </div>
            </a>
        </div> 
        <load ="partials/markets-table/markets-table.html" />
    </div>
</section>