.tariffs-hero{
    background-image: url('/img/tariffs/tariffs-hero-bg.avif');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        height: 100svh;
        min-height: 500px;
    
        @include tablet {
            background-image: url('/img/tariffs/tariffs-hero-bg.avif');
            background-size: cover;
            background-repeat: no-repeat;
            max-height: 750px;
        }
    
        @include laptop {
            background-image: url('/img/tariffs/tariffs-hero-bg.avif');
            background-position: bottom center;
            max-height: 100svh;
        }
}

.tariffs-hero .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
}

.tariffs-hero-title{
    display: flex;
    flex-direction: column;

    @include laptop {
        gap: 32px;
    }
}