<section class="tariffs-hero">
    <div class="container">
      <div class="tariffs-title-wrap">
        <h1 class="hero-title tariffs-hero-title">
          <span>Flexible and affordable  </span><span class="accent-text">trading conditions</span> 
        </h1>
        <p class="text markets-hero-text">We strive to constantly offer the best trading products and services. Low spreads and low deposit requirements, combined with additional bonuses, make it possible for traders to trade with us as profitably as possible.</p>
        </div>
    </div>
</section>
