.header {
  position: absolute;
  z-index: 100;
  padding: 24px 0;
  font-weight: 500;
  width: 98vw;
}


.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 60px;
  padding: 12px 24px;
  background: rgba(9, 10, 9, 0.5);
}

.header-logo {
  width: 100px;
  opacity: 0.6;
  transition: opacity var(--timing-function);

    @include tablet {
      width: 123px;
    }

  @media (hover: hover) and (pointer: fine) {
    &:hover,
    &:focus {
      opacity: 1;
    }
  }
}

.header-menu-wrapper {
  display: none;
  padding: 38px 20px;
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  flex-direction: column-reverse;
  z-index: 20;

  @include laptop {
    height: auto;
    width: auto;
    display: flex;
    position: static;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;

    padding: 0;
  }
}

.nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  color: rgb(166, 167, 162);
  gap: 32px;

  @include laptop {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }
}

.nav-link {
  cursor: pointer;
  font-weight: 500;
  font-size: 32px;
  line-height: 1.2;
  padding: 10px 2px;
  text-transform: capitalize;
  background: var(--gold-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  transition: color var(--timing-function);

  @include laptop {
    font-size: 18px;
  }

  @media (hover: hover) and (pointer: fine) {
      &:hover,
      &:focus {
        color: transparent;
      }
    }
}

.nav-link.active {
  color: transparent;
}


.header-contact-us {
  display: block;

  @include laptop {
    display: none;
  }
}


.btn-desk{
  display: none;
  
  @include laptop {
      display: inline-flex;
    }
}

.header-btn-mob{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 360px;
  
  @include laptop {
    display: none;}
}


.custom-select {
  position: relative;
  width: 85px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1.2;
  color: rgb(166, 167, 162);
  transition: color var(--timing-function);
  cursor: pointer;
  z-index: 100;

  @include laptop {
    font-size: 18px;
    width: 75px;
    margin-left: 20px;
    padding: 10px 2px;
  }

  @media (hover: hover) and (pointer: fine) {
  
      &:hover,
      &:focus {
        color: var(--gold);
      }
    }
}


.custom-select-trigger {
  gap: 12px;
  padding: 10px 0;
  color: rgb(166, 167, 162);
  cursor: pointer;
  border-radius: 4px;

  @include laptop {
      padding: 10px;
    }

}

.custom-options {
  display: none;
  background-color: transparent;
  max-height: 150px;
  width: 100%;
  overflow-y: auto;
  box-sizing: border-box;
  z-index: 100;

  @include laptop {
    position: absolute;
    background-color: rgba(9, 10, 9, 0.5);
    top: 119%;
    left: 0;
    right: 0;
  }
}

.custom-option {
  color: rgb(166, 167, 162);
  cursor: pointer;
  display: block;

  @include laptop {
    padding: 10px;
  }
}

.custom-option:hover {
  color: var(--gold);
}

.custom-select.open {
  height: auto;
}

.custom-select.open .custom-options {
  display: flex;
  flex-direction: column;
    gap: 16px;
    padding-top: 8px;
    padding-left: 2px;
}

.lng-arrow-icon {
  width: 24px;
  height: 24px;
  position: absolute;
  z-index: -1;
  right: 0;
  top: 30px;
  transform: translateY(-50%);
  transition: transform 0.3s ease;
  transform-origin: center;

  @include laptop {    
    width: 16px;
    height: 16px;
    top: 50%;
    right: 10px;
  }
}

.custom-select.open .lng-arrow-icon {
      transform: translateY(-50%) rotate(180deg);
}