<header class="header">
  <div class="container">
    <div class="header-container">
      <div class="header-logo">
        <a href="/index.html"
          ><img
            class="header-logo-img"
            src="/img/logo.svg"
            alt="logo"
            height="32"
            width="120"
        /></a>
      </div>
      <div class="header-menu-wrapper menu js-mobile-menu">
        <button class="signup-btn header-btn-mob" 
          aria-label="open contact modal"
          data-micromodal-trigger="my-modal">Sign up</button>
        <nav class="header-nav">
          <ul class="nav-list menu-list">
            <li class="nav-item">
              <a href="/index.html" class="nav-link" >Trade</a>
            </li>
            <li class="nav-item">
              <a href="/markets.html" class="nav-link">Markets</a>
            </li>
            <li class="nav-item">
              <a href="/about-us.html" class="nav-link">About us</a>
            </li>
            <li class="nav-item">
              <a href="/tariffs.html" class="nav-link">Tariffs</a>
            </li>
            <li class="nav-item">
              <a href="/contacts.html" class="nav-link">Contact us</a>
            </li>
            <li>
              <div class="custom-select">
                <div class="custom-select-trigger" id="languageSwitcher">
                  Eng               
                </div>
                <img
                    src="./img/down.svg"
                    alt="arrow"                    
                    width="16"
                    height="16"
                    class="lng-arrow-icon"
                  />
                <div class="custom-options">
                  <a href="/" class="custom-option" data-value="en">Eng</a>
                  <a href="/tr/" class="custom-option" data-value="tr">Tür</a>
                </div>
              </div>
            </li>
          </ul>
        </nav>
        </div>
      <button class="signup-btn btn-desk" 
          aria-label="open contact modal"
          data-micromodal-trigger="my-modal">Sign up</button>
      <div
        class="burger-wrapper js-burger-btn"
        tabindex="0"
        role="button"
        aria-label="menu open or close"
      >
        <div class="burger js-burger-icon">
          <img
            class="burger-open-icon"
            src="/img/menu.svg"
            alt="menu icon"
            width="32"
            height="32"
          />
          <img
            class="burger-close-icon"
            src="/img/close.svg"
            alt="menu icon"
            width="32"
            height="32"
          />
        </div>
      </div>
    </div>
  </div>
</header>
