<header class="header">
  <div class="container">
    <div class="header-container">
      <div class="header-logo">
        <a href="./index.html"
          ><img
            class="header-logo-img"
            src="./img/logo.svg"
            alt="logo"
            height="32"
            width="120"
        /></a>
      </div>
      <div class="header-menu-wrapper menu js-mobile-menu">
        <a href="" class="signup-btn btn-mob ">Sign up</a>
        <nav class="header-nav">
          <ul class="nav-list menu-list">
            <li class="nav-item">
              <a href="" class="nav-link">Trade</a>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link">Markets</a>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link">About us</a>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link">Tariffs</a>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link">Contacts</a>
            </li>
          </ul>
        </nav>
        </div>
      <a href="" class="signup-btn btn-desk">Sign up</a>
      <div
        class="burger-wrapper js-burger-btn"
        tabindex="0"
        role="button"
        aria-label="menu open or close"
      >
        <div class="burger js-burger-icon">
          <img
            class="burger-open-icon"
            src="/img/menu.svg"
            alt="menu icon"
            width="32"
            height="32"
          />
          <img
            class="burger-close-icon"
            src="/img/close.svg"
            alt="menu icon"
            width="32"
            height="32"
          />
        </div>
      </div>
    </div>
  </div>
</header>
