<div class="container">
        <div class="slider-markets-wrap">
                <div class="markets-slide">
                    <div class="markets-slide-text-wrap">
                    <span class="markets-slide-text">Bitcoin</span>
                    <div class="markets-slide-img-wrap">
                        <span class="markets-slide-price">1,5%</span>
                        <img src="/img/slider/arrow-down.svg" alt="icon" width="24" height="24">
                    </div>
                    </div>
                    <span class="markets-slide-price">$94 857,62</span>
                </div>
                <div class="markets-slide">
                    <div class="markets-slide-text-wrap">
                    <span class="markets-slide-text">Litecoin</span>
                    <div class="markets-slide-img-wrap">
                        <span class="markets-slide-price">1,5%</span>
                        <img src="/img/slider/arrow-down.svg" alt="icon" width="24" height="24">
                    </div>
                    </div>
                    <span class="markets-slide-price">$131,92</span>
                </div>
                <div class="markets-slide slide-gold">
                    <div class="markets-slide-text-wrap">
                    <span class="markets-slide-text">Chainlink</span>
                    <div class="markets-slide-img-wrap">
                        <span class="markets-slide-price">1,5%</span>
                        <img src="/img/slider/arrow-white.svg" alt="icon" width="24" height="24">
                    </div>
                    </div>
                    <span class="markets-slide-price">$24,90</span>
                </div>
                <div class="markets-slide">
                    <div class="markets-slide-text-wrap">
                    <span class="markets-slide-text">Binance Coin</span>
                    <div class="markets-slide-img-wrap">
                        <span class="markets-slide-price">2,25%</span>
                        <img src="/img/slider/arrow-down.svg" alt="icon" width="24" height="24">
                    </div>
                    </div>
                    <span class="markets-slide-price">$652.78</span>
                </div>
                <div class="markets-slide">
                    <div class="markets-slide-text-wrap">
                    <span class="markets-slide-text">Solana</span>
                    <div class="markets-slide-img-wrap">
                        <span class="markets-slide-price">1,39%</span>
                        <img src="/img/slider/arrow-down.svg" alt="icon" width="24" height="24">
                    </div>
                    </div>
                    <span class="markets-slide-price">$187.81</span>
                </div>
                <div class="markets-slide">
                    <div class="markets-slide-text-wrap">
                    <span class="markets-slide-text">Ethereum</span>
                    <div class="markets-slide-img-wrap">
                        <span class="markets-slide-price">1,14%</span>
                        <img src="/img/slider/arrow-down.svg" alt="icon" width="24" height="24">
                    </div>
                    </div>
                    <span class="markets-slide-price">$3,278.8</span>
                </div>
        </div>
    </div>
</div>