<div class="container">
    <div class="slider-markets-wrap">
        <div class="slider-markets-slides">
                    <div class="advantage-signup-slide">
                        <div class="advantage-crypto">
                            <span class="crypto-name">Bitcoin</span>
                            <div class="crypto-change">
                                <span class="crypto-percent">1,5%</span>
                                <img src="/img/slider/arrow-down.svg" alt="icon" class="change-arrow" width="22" height="22">
                            </div>
                        </div>
                        <span class="crypto-value">$94 857,62</span>
                    </div>
                    <div class="advantage-signup-slide">
                        <div class="advantage-crypto">
                            <span class="crypto-name">Litecoin</span>
                            <div class="crypto-change">
                                <span class="crypto-percent">1,5%</span>
                                <img src="/img/slider/arrow-down.svg" alt="icon" class="change-arrow" width="22" height="22">
                            </div>
                        </div>
                        <span class="crypto-value">$131,92</span>
                    </div>
                    <div class="advantage-signup-slide slide-gold">
                        <div class="advantage-crypto">
                            <span class="crypto-name">Chainlink</span>
                            <div class="crypto-change">
                                <span class="crypto-percent">1,5%</span>
                                <img src="/img/slider/arrow-white.svg" alt="icon" class="change-arrow" width="22" height="22">
                            </div>
                        </div>
                        <span class="crypto-value">$24,90</span>
                    </div>
                    <div class="advantage-signup-slide">
                        <div class="advantage-crypto">
                        <span class="crypto-name">Binance Coin</span>
                        <div class="crypto-change">
                            <span class="crypto-percent">2,25%</span>
                            <img src="/img/slider/arrow-down.svg" alt="icon" width="22" height="22">
                        </div>
                        </div>
                        <span class="crypto-value">$652.78</span>
                    </div>
                    <div class="advantage-signup-slide">
                        <div class="advantage-crypto">
                        <span class="crypto-name">Solana</span>
                        <div class="crypto-change">
                            <span class="crypto-percent">1,39%</span>
                            <img src="/img/slider/arrow-down.svg" alt="icon" width="24" height="24">
                        </div>
                        </div>
                        <span class="crypto-value">$187.81</span>
                    </div>
                    <div class="advantage-signup-slide">
                        <div class="advantage-crypto">
                        <span class="crypto-name">Ethereum</span>
                        <div class="crypto-change">
                            <span class="crypto-percent">1,14%</span>
                            <img src="/img/slider/arrow-down.svg" alt="icon" width="22" height="22">
                        </div>
                        </div>
                        <span class="crypto-value">$3,278.8</span>
                    </div>
                    <div class="advantage-signup-slide">
                        <div class="advantage-crypto">
                            <span class="crypto-name">Bitcoin</span>
                            <div class="crypto-change">
                                <span class="crypto-percent">1,5%</span>
                                <img src="/img/slider/arrow-down.svg" alt="icon" class="change-arrow" width="22" height="22">
                            </div>
                        </div>
                        <span class="crypto-value">$94 857,62</span>
                    </div>
                    <div class="advantage-signup-slide">
                        <div class="advantage-crypto">
                            <span class="crypto-name">Litecoin</span>
                            <div class="crypto-change">
                                <span class="crypto-percent">1,5%</span>
                                <img src="/img/slider/arrow-down.svg" alt="icon" class="change-arrow" width="22" height="22">
                            </div>
                        </div>
                        <span class="crypto-value">$131,92</span>
                    </div>
                    <div class="advantage-signup-slide slide-gold">
                        <div class="advantage-crypto">
                            <span class="crypto-name">Chainlink</span>
                            <div class="crypto-change">
                                <span class="crypto-percent">1,5%</span>
                                <img src="/img/slider/arrow-white.svg" alt="icon" class="change-arrow" width="22" height="22">
                            </div>
                        </div>
                        <span class="crypto-value">$24,90</span>
                    </div>
                    <div class="advantage-signup-slide">
                        <div class="advantage-crypto">
                        <span class="crypto-name">Binance Coin</span>
                        <div class="crypto-change">
                            <span class="crypto-percent">2,25%</span>
                            <img src="/img/slider/arrow-down.svg" alt="icon" width="22" height="22">
                        </div>
                        </div>
                        <span class="crypto-value">$652.78</span>
                    </div>
                    <div class="advantage-signup-slide">
                        <div class="advantage-crypto">
                        <span class="crypto-name">Solana</span>
                        <div class="crypto-change">
                            <span class="crypto-percent">1,39%</span>
                            <img src="/img/slider/arrow-down.svg" alt="icon" width="22" height="22">
                        </div>
                        </div>
                        <span class="crypto-value">$187.81</span>
                    </div>
                    <div class="advantage-signup-slide">
                        <div class="advantage-crypto">
                        <span class="crypto-name">Ethereum</span>
                        <div class="crypto-change">
                            <span class="crypto-percent">1,14%</span>
                            <img src="/img/slider/arrow-down.svg" alt="icon" width="22" height="22">
                        </div>
                        </div>
                        <span class="crypto-value">$3,278.8</span>
                    </div>
        </div>
    </div>
</div>