.about-story{
    display: flex;
    flex-direction: column;

    @include laptop {
        flex-direction: row;
        justify-content: space-between;
    }
}

.about-story-left{
    @include laptop {
        max-width: 700px;
    }
}

.about-title{
    margin-bottom: 24px;
    text-align: center;

    @include laptop {
        text-align: start;
    }
}

.about-charts-wrapper{
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 16px;

    @include tablet{
        flex-direction: row;
        gap: 24px;
        margin-top: 24px;
    }

    @include laptop{
        margin-top: 32px;
    }
}

.about-chart{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    backdrop-filter: blur(20px);
    box-shadow: 0 4px 8px 0 rgba(102, 68, 10, 0.1), 0 15px 15px 0 rgba(102, 68, 10, 0.09), 0 33px 20px 0 rgba(102, 68, 10, 0.05), 0 58px 23px 0 rgba(102, 68, 10, 0.01), 0 91px 26px 0 rgba(102, 68, 10, 0);
    gap: 8px;
    border-radius: 24px;
    padding: 16px;
    width: 100%;

    @include tablet {
            flex-direction: column;
            flex-wrap: nowrap;
            width: calc((100% - 24px) / 2);
            height: 214px;
            gap: 24px;
        }
}

.about-chart-gold {
    background: linear-gradient(216deg, #c3884d 0%, #795406 100%);
    color: var(--white);
}

.about-chart-black{
    background: #090a09;
}

.about-chart-text{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.4;
    color: var(--white);
}

.about-story-right{
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 16px;

    @include laptop {
        max-width: 510px;
        gap: 24px;
        margin-top: 0;
    }
}

.about-work{
    display: flex;
    flex-direction: column;
    margin-top: 32px;

    @include laptop {
        margin-top: 40px;
        flex-direction: row;
        justify-content: space-between;
    }
}

.about-work-wrapper{
    @include laptop {
        max-width: 496px;
    }
}

.about-text{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    color: var(--text-light);
    opacity: 0.9;

    @include tablet{
        font-size: 18px;
        line-height: 1.4;
    }
}

.about-work-chart {
    background-image: url('/img/advantages/s1-bg.avif');
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    width: 100%;
    border-radius: 32px;
    padding: 16px;
    box-shadow: 0 7px 16px 0 rgba(62, 42, 20, 0.04), 0 30px 30px 0 rgba(62, 42, 20, 0.03), 0 67px 40px 0 rgba(62, 42, 20, 0.02), 0 119px 48px 0 rgba(62, 42, 20, 0.01), 0 186px 52px 0 rgba(62, 42, 20, 0);
    margin-top: 16px;

    @include tablet {
        padding: 32px 24px;
        margin-top: 26px;
    }

    @include laptop {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 399px;
        width: 718px;
    }
}

.work-chart-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.work-chart-heading {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: 0.02em;
    color: var(--text-color);

    max-width: 200px;

    @include tablet {
        font-size: 28px;
        max-width: none;
    }
}

.work-chart-pecrent {
    font-weight: 500;
    font-size: 32px;
    line-height: 1.4;
    letter-spacing: 0.02em;

    @include laptop {
        font-size: 64px;
    }
}

.work-chart-accent {
    font-size: 20px;

    @include laptop {
        font-size: 40px;
    }
}

.work-chart-text {
    color: var(--text-color);
    margin-top: 16px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.4;

    @include tablet {
        margin-top: 26px;
        font-size: 18px;
    }
}


.about-info-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    margin-top: 16px;

    @include tablet {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 24px;
        margin-top: 32px;
    }

    @include laptop {
        flex-direction: row;
    }
}

.about-info-card {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 32px;
    padding: 24px;
    width: 100%;
    background-color: #050505;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: box-shadow var(--timing-function);

    @include tablet {
        width: calc((100% - 24px) / 2);
    }

    @include laptop {
        flex-direction: column;
        align-items: flex-start;
        width: 290px;
    }
}

.about-info-title{
    font-weight: 700;
    font-size: 26px;
    line-height: 1.4;
    letter-spacing: -0.03em;

    @include tablet{
        font-size: 36px;
    }
}

.about-btn-wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 8px;

    @include tablet {
        padding-right: 16px;
    }

    @include laptop {
        padding-right: 0;
        max-width: 181px;
        text-align: start;
    }
}

.about-info-btn{
    position: relative;
    gap: 16px;
    border: 1px solid #f1d476;
    width: 100%;
    color: var(--text-color);
    background-color: transparent;
    margin-top: 24px;
    text-align: center;

    @include tablet {
        margin-top: 32px;
    }
    @include laptop {
            margin-top: auto;
        }
}


.about-details{
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 32px;

    @include tablet{
        gap: 24px;
    }

    @include laptop{
        flex-direction: row;
        gap: 32px;
    }
}

.about-feedback{
    background-image: url('/img/about-us/bg.avif');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: auto;
    border-radius: 32px;
    padding: 24px 32px;
    
    @include laptop {
        width: 740px;
        padding: 36px;
    }
}

.about-feedback-wrap{
    border: 1px solid rgba(255, 255, 255, 0.7);
    border-radius: 8px;
    padding: 24px;
    backdrop-filter: blur(20px);
    background: rgba(9, 10, 9, 0.53);
    height: 100%;

    @include tablet{
        border-radius: 24px;
    }
}

.about-feedback-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1;
    margin-bottom: 8px;

    @include tablet {
        font-size: 32px;
        margin-bottom: 16px;
    }

    @include laptop {
        font-size: 40px;
    }
}

.about-feedback-text{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.4;
    color: var(--white);
}

.about-specialization{
    background-color: var(--card-bg);
    box-shadow: 0 7px 16px 0 rgba(62, 42, 20, 0.04), 0 30px 30px 0 rgba(62, 42, 20, 0.03), 0 67px 40px 0 rgba(62, 42, 20, 0.02), 0 119px 48px 0 rgba(62, 42, 20, 0.01), 0 186px 52px 0 rgba(62, 42, 20, 0);
    border-radius: 32px;
    padding: 24px;
    color: var(--white);

    @include laptop {
        width: 509px;
        padding: 32px;
    }
}

.about-specialization-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: 0.02em;

    @include tablet {
        font-size: 32px;
        margin-bottom: 16px;
    }

    @include laptop {
        font-size: 40px;
    }
}

.about-specialization-text{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.4;

    @include laptop{
        font-size: 18px;
    }
}