<section class="accounts-section">
    <div class="container">
        <div class="accounts-title-wrap">
            <h2 class="title title-white"><span class="accent-text">Choose the account</span> type that suits you</h2>
            <p class="text accounts-text">An initial account type that is suitable for anyone who wants to learn the basics of Forex trading.</p>
        </div>
        <div class="accounts-cards"
                data-aos="fade-up"
                data-aos-offset="200"
                data-aos-delay="50"
                data-aos-duration="1000"
                data-aos-easing="ease-in-out"
                data-aos-mirror="true"
                data-aos-once="true"
                data-aos-anchor-placement="top-left">
            <div class="accounts-card">
                <div class="accounts-card-title-wrap">
                    <img src="./img/accounts/diamond.svg" alt="diamond" width="32" height="32" />
                    <h4 class="accounts-card-title">Newbie</h4>
                </div>
                <p class="accounts-card-text">An initial account type that is suitable for anyone who wants to learn the basics of Forex trading.</p>
                <span class="accent-text accounts-card-price">$ 150</span>
                <ul class="accounts-card-list">
                    <li class="accounts-card-item">
                        <img src="./img/accounts/pen.svg" alt="pen" width="24" height="24" />
                        Minimum deposit: $150
                    </li>
                    <li class="accounts-card-item">
                        <img src="./img/accounts/pen.svg" alt="pen" width="24" height="24" />
                        Leverage: 1:100
                    </li>
                    <li class="accounts-card-item">
                        <img src="./img/accounts/pen.svg" alt="pen" width="24" height="24" />
                        Cryptocurrency: 1:1
                    </li>
                    <li class="accounts-card-item">
                        <img src="./img/accounts/pen.svg" alt="pen" width="24" height="24" />
                        Instant execution
                    </li>
                    <li class="accounts-card-item2">Trading cryptocurrencies and metals</li>
                    <li class="accounts-card-item2">Deposit insurance</li>
                    <li class="accounts-card-item2">Deposit protection</li>
                    <li class="accounts-card-item2">24/5 personal support</li>
                </ul>
                <a type="button" class="btn accounts-btn">Try our platform</a>
            </div>
            <div class="accounts-card">
                <div class="accounts-card-title-wrap">
                    <img src="./img/accounts/diamond.svg" alt="diamond" width="32" height="32" />
                    <img src="./img/accounts/diamond.svg" alt="diamond" width="32" height="32" />
                    <h4 class="accounts-card-title">With experience</h4>
                </div>
                <p class="accounts-card-text">Optimal account with balanced trading conditions and an expanded list of financial instruments.</p>
                <span class="accounts-card-price">$ 1000</span>
                <ul class="accounts-card-list">
                    <li class="accounts-card-item">
                        <img src="./img/accounts/pen2.svg" alt="pen" width="24" height="24" />
                        Minimum deposit: $150
                    </li>
                    <li class="accounts-card-item">
                        <img src="./img/accounts/pen2.svg" alt="pen" width="24" height="24" />
                        Leverage: 1:100
                    </li>
                    <li class="accounts-card-item">
                        <img src="./img/accounts/pen2.svg" alt="pen" width="24" height="24" />
                        Cryptocurrency: 1:1
                    </li>
                    <li class="accounts-card-item">
                        <img src="./img/accounts/pen2.svg" alt="pen" width="24" height="24" />
                        Instant execution
                    </li>
                    <li class="accounts-card-item">
                        <img src="./img/accounts/pen2.svg" alt="pen" width="24" height="24" />
                        Trading cryptocurrencies and metals
                    </li>
                    <li class="accounts-card-item">
                        <img src="./img/accounts/pen2.svg" alt="pen" width="24" height="24" />
                        Deposit insurance
                    </li>
                    <li class="accounts-card-item2">Deposit protection</li>
                    <li class="accounts-card-item2">24/5 personal support</li>
                </ul>
                <a type="button" class="btn accounts-btn btn-white"><span class="accent-text">Try our platform</span></a>
            </div>
            <div class="accounts-card">
                <div class="accounts-card-title-wrap">
                    <img src="./img/accounts/diamond.svg" alt="diamond" width="32" height="32" />
                    <img src="./img/accounts/diamond.svg" alt="diamond" width="32" height="32" />
                    <img src="./img/accounts/diamond.svg" alt="diamond" width="32" height="32" />
                    <h4 class="accounts-card-title">Professional</h4>
                </div>
                <p class="accounts-card-text">An improved account type for experienced traders who confidently trade in the financial markets.</p>
                <span class="accent-text accounts-card-price">$ 10,000</span>
                <ul class="accounts-card-list">
                    <li class="accounts-card-item">
                        <img src="./img/accounts/pen.svg" alt="pen" width="24" height="24" />
                        Minimum deposit: $150
                    </li>
                    <li class="accounts-card-item">
                        <img src="./img/accounts/pen.svg" alt="pen" width="24" height="24" />
                        Leverage: 1:100
                    </li>
                    <li class="accounts-card-item">
                        <img src="./img/accounts/pen.svg" alt="pen" width="24" height="24" />
                        Cryptocurrency: 1:1
                    </li>
                    <li class="accounts-card-item">
                        <img src="./img/accounts/pen.svg" alt="pen" width="24" height="24" />
                        Instant execution
                    </li>
                    <li class="accounts-card-item">
                        <img src="./img/accounts/pen.svg" alt="pen" width="24" height="24" />
                        Trading cryptocurrencies and metals
                    </li>
                    <li class="accounts-card-item">
                        <img src="./img/accounts/pen.svg" alt="pen" width="24" height="24" />
                        Deposit insurance
                    </li>
                    <li class="accounts-card-item">
                        <img src="./img/accounts/pen.svg" alt="pen" width="24" height="24" />
                        Deposit protection</li>
                    <li class="accounts-card-item">
                        <img src="./img/accounts/pen.svg" alt="pen" width="24" height="24" />
                        24/5 personal support</li>
                </ul>
                <a type="button" class="btn accounts-btn">Try our platform</a>
            </div>
        </div>
    </div>
</section>