<footer id="footer" class="footer">
  <div class="container">
    <div class="footer-wrapper">
      <div class="footer-wrap1">
        <div class="footer-logo footer-desk">
        <a href="/tr/index.html"
          ><img
            class="header-logo-img"
            src="../img/logo.svg"
            alt="logo"
            height="32"
            width="120"
          /></a>
        </div>
        <div class="social-icons-wrap">
            <a href="" class="social-icon">
              <img
            src="../img/footer/inst.svg"
            alt="instagram"
          />
        </a>
        <a href="" class="social-icon">
              <img
            src="../img/footer/tiktok.svg"
            alt="tiktok"
          />
        </a>
        <a href="" class="social-icon">
              <img
            src="../img/footer/youtube.svg"
            alt="youtube"
          />
        </a>
        <a href="" class="social-icon">
              <img
            src="../img/footer/telegram.svg"
            alt="telegram"
          />
        </a>
        <a href="" class="social-icon">
              <img
            src="../img/footer/whatsup.svg"
            alt="whatsup"
          />
        </a>
        </div>
        <p class="footer-copyright" data-i18n="footer.copyright">© 2024 Tüm hakları saklıdır</p>
      </div>
      <div class="footer-wrap2">
         <div class="footer-logo footer-mob">
        <a href="/tr/index.html"
          ><img
            class="header-logo-img"
            src="../img/logo.svg"
            alt="logo"
            height="32"
            width="120"
          /></a>
        </div>
        <ul class="footer-nav-list">
                <li class="footer-nav-item">
                  <a href="#trade" class="nav-link" data-i18n="navbar.trade">Ticaret</a>
                </li>
                <li class="footer-nav-item">
                  <a href="/tr/markets.html" class="nav-link" data-i18n="navbar.markets">Piyasalar</a>
                </li>
                <li class="footer-nav-item">
                  <a href="#about-us" class="nav-link" data-i18n="navbar.aboutUs">Hakkımızda</a>
                </li>
                <li class="footer-nav-item">
                  <a href="#tariffs" class="nav-link" data-i18n="navbar.tariffs">Tarifeler</a>
                </li>
                <li class="footer-nav-item">
                  <a href="#contact-us" class="nav-link" data-i18n="navbar.contactUs">İletişime Geç</a>
                </li>
        </ul>
        <p class="footer-text" data-i18n="footer.text">İlkel olanı geride bırakın ve hak ettiğiniz lükse kucak açın. Şimdi, geleceğinize yatırım yapmanız için mükemmel bir zaman!</p>
      </div>
  </div>
  </div>
</footer>
