<footer id="footer" class="footer">
  <div class="container">
    <div class="footer-wrapper">
      <div class="footer-wrap1">
        <div class="footer-logo footer-desk">
        <a href="./index.html"
          ><img
            class="header-logo-img"
            src="./img/logo.svg"
            alt="logo"
            height="32"
            width="120"
          /></a>
        </div>
        <div class="social-icons-wrap">
            <a href="" class="social-icon">
              <img
            src="./img/footer/inst.svg"
            alt="instagram"
          />
        </a>
        <a href="" class="social-icon">
              <img
            src="./img/footer/tiktok.svg"
            alt="tiktok"
          />
        </a>
        <a href="" class="social-icon">
              <img
            src="./img/footer/youtube.svg"
            alt="youtube"
          />
        </a>
        <a href="" class="social-icon">
              <img
            src="./img/footer/telegram.svg"
            alt="telegram"
          />
        </a>
        <a href="" class="social-icon">
              <img
            src="./img/footer/whatsup.svg"
            alt="whatsup"
          />
        </a>
        </div>
        <p class="footer-copyright" data-i18n="footer.copyright">© 2024 All rights reserved</p>
      </div>
      <div class="footer-wrap2">
         <div class="footer-logo footer-mob">
        <a href="./index.html"
          ><img
            class="header-logo-img"
            src="./img/logo.svg"
            alt="logo"
            height="32"
            width="120"
          /></a>
        </div>
        <ul class="footer-nav-list">
                <li class="footer-nav-item">
                  <a href="#trade" class="nav-link" data-i18n="navbar.trade">Trade</a>
                </li>
                <li class="footer-nav-item">
                  <a href="#markets" class="nav-link" data-i18n="navbar.markets">Markets</a>
                </li>
                <li class="footer-nav-item">
                  <a href="#about-us" class="nav-link" data-i18n="navbar.aboutUs">About us</a>
                </li>
                <li class="footer-nav-item">
                  <a href="#tariffs" class="nav-link" data-i18n="navbar.tariffs">Tariffs</a>
                </li>
                <li class="footer-nav-item">
                  <a href="#contact-us" class="nav-link" data-i18n="navbar.contactUs">Contact Us</a>
                </li>
        </ul>
        <p class="footer-text" data-i18n="footer.text">Leave the ordinary behind and embrace the luxury you deserve. Now is the perfect time to invest in your future!</p>
      </div>
  </div>
  </div>
</footer>
