<section class="choice-section" id="markets">
    <div class="container">
        <div class="choice-title-wrap">
         <img
                    src="./img/choice/oscar.avif"
                    alt="oscar"
                    class="choice-title-decor"
                    />
        <h2 class="title choice-title">
            Why choose <span class="accent-text">Oskar Group</span> for your trading needs?
        </h2>
        <p class="text choice-subtitle">At Oskar Group, we bring institutional-grade liquidity to an asset class that is traditionally illiquid, ensuring seamless and transparent trading experiences. With a team of seasoned investment professionals, we focus on delivering diverse and robust private market opportunities tailored to your needs. Our fully digitalized investment process simplifies everything, from registration to reporting, ensuring efficiency and convenience. Additionally, our access to secondary markets empowers you with more flexibility and options in your trading journey.</p>
        </div>
        <div class="choice-cards">
            <a href="" class="choice-card gold-card">
                <div class="blur-background"></div>
                <div class="hover-content">Learn More
                        <div class="choices-arrow-wrap gradient">
                        <img
                        src="./img/choice/arrow-white.svg"
                        alt="arrow"
                        />
                    </div>
                </div>
                <div class="choices-icon-wrap">
                    <img
                    src="./img/choice/cpu.svg"
                    alt="image"
                    width="50"
                    height="50"
                    />
                </div>
                    <h4 class="small-title">Top Tier Markets </h4>
                    <p class="choices-card-text">Our team of investment professionals is focused on finding the most robust and diverse offerings in the private market.</p>
                <div class="choices-arrow-wrap">
                    <img
                    src="./img/choice/arrow-gold.svg"
                    alt="arrow"
                    />
                </div>
            </a>
            <a href="" class="choice-card black">
                <div class="blur-background"></div>
                <div class="hover-content">Learn More
                        <div class="choices-arrow-wrap gradient">
                        <img
                        src="./img/choice/arrow-white.svg"
                        alt="arrow"
                        />
                    </div>
                </div>
                <div class="choices-icon-wrap" style="background-color: transparent;">
                <img
                    src="./img/choice/devices.svg"
                    alt="image"                    
                    width="50"
                    height="50"
                    />
                    </div>
                    <h4 class="small-title">Full digitalization</h4>
                    <p class="choices-card-text">Our entire investment process is digital - from registration and signing of documents to reporting and capital requirements..</p>
                <div class="choices-arrow-wrap gradient">
                    <img
                    src="./img/choice/arrow-white.svg"
                    alt="arrow"
                    />
                </div>
            </a>
            <a href="" class="choice-card">
                <div class="blur-background"></div>
                <div class="hover-content">Learn More
                        <div class="choices-arrow-wrap gradient">
                        <img
                        src="./img/choice/arrow-white.svg"
                        alt="arrow"
                        />
                    </div>
                </div>
                <div class="choices-icon-wrap" style="background-color: transparent;">
                <img
                    src="./img/choice/cpu-charge.svg"
                    alt="image"
                    width="50"
                    height="50"
                    />
                    </div>
                    <h4 class="small-title">Secondary Market</h4>
                    <p class="choices-card-text">Oskar Group provides institutional-grade liquidity to our clients for an asset class that is typically illiquid.</p>
                <div class="choices-arrow-wrap gradient">
                    <img
                    src="./img/choice/arrow-white.svg"
                    alt="arrow"
                    />
                </div>
            </a>
        </div>
    </div>
</section>