.hero {
  background-image: url('/img/hero.avif');
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  height: 100svh;
  min-height: 500px;

  @include tablet {
    background-image: url('/img/hero.avif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    max-height: 750px;
  }

  @include laptop {
    background-image: url('/img/hero.avif');
    max-height: 894px;
  }
}