<section class="hero">
  <div class="hero-wrapper">
    <div class="container">
        <h1 class="hero-title">
          Flexible and accessible </br>
          <span class="accent-text"
            >trading</span
          >
          conditions </br> for
          <span class="accent-text"
            >CFD trading </span>
        </h1>
        <div class="hero-features">
          <div class="hero-feature">
            <img src="./img/hero/decor.svg" alt="icon" class="hero-features-icon">
            <p>Reliable</p>
          </div>
          <div class="hero-feature">
            <img src="./img/hero/decor.svg" alt="icon" class="hero-features-icon">
            <p>Simple</p>
          </div>
          <div class="hero-feature">
            <img src="./img/hero/decor.svg" alt="icon" class="hero-features-icon">
            <p>Innovative</p>
          </div>
        </div>
        <a
          type="button"
          class="btn hero-btn"
          aria-label="open contact modal"
        >
        Try our platform
        </a>
    </div>
  </div>
</section>
