<section class="faq-section">
    <div class="container">
        <div class="faq-title-wrap"
            data-aos="fade-up"
            data-aos-offset="200"
            data-aos-delay="50"
            data-aos-duration="1000"
            data-aos-easing="ease-in-out"
            data-aos-mirror="true"
            data-aos-once="true"
            data-aos-anchor-placement="top-left"
            >
            <h2 class="title"><span data-i18n="faq.title1">Sıkça Sorulan </span><span class="accent-text" data-i18n="faq.title2">Sorulara Yanıtlar</span></h2>
            <p class="text faq-text" data-i18n="faq.text">Bu bölümde, hizmetlerimiz ve işletme prensiplerimizle ilgili en yaygın sorulara yanıtlar bulabilirsiniz. Sorunuza yanıt bulamazsanız, web sitemizdeki geri bildirim formunu kullanarak bize e-posta gönderebilirsiniz.</p>
        </div>
        <div class="faq-list">
        <div class="faq-item" data-faq>
      <div class="faq-question">
        <span class="faq-title" data-i18n="faq.question1">Oskar Group şirketiyle çalışmaya nasıl başlanır?</span>
        <div class="faq-icon"></div>
      </div>
      <div class="faq-answer">
        <p class="faq-description" data-i18n="faq.answer1">
          Oskar Group şirketiyle çalışmaya başlamak için web sitemizde basit bir kayıt işleminden geçmeniz gerekir. Ardından, kişisel hesabınızda ilgili bölümü seçerek ilk yatırımınızı yapmanız gerekmektedir. Sonrasında tüm yatırım işlemleri şirketimiz tarafından yapılacak ve siz de bunun karşılığında günlük gelir elde edeceksiniz.
        </p>
      </div>
        </div>

        <div class="faq-item" data-faq>
        <div class="faq-question">
            <span class="faq-title" data-i18n="faq.question2"
            >Para kaybedebilir miyim ve kazanamayabilir miyim?</span
            >
            <div class="faq-icon"></div>
        </div>
        <div class="faq-answer">
            <p class="faq-description">
                <span  data-i18n="faq.answer2_1">Tabii ki, projemiz bir kazanç garantili piyango değildir. Bu işte her zaman bir risk vardır. Ancak biz diyoruz ki, bu risk yalnızca haklı değil, aynı zamanda minimize edilmiştir. İşte tam olarak amacımız, iş modelimiz budur. Risk azaltma stratejisi birkaç bileşenden oluşmaktadır:<br/>
                </span>
                <br/><br/>
                <span data-i18n="faq.answer2_2">Birincisi, projeden sorumlu ve farklı seviyelerdeki risklerle sürekli olarak çalışan analist ekibimizdir.
                </span>
                <br/><br/>
                <span data-i18n="faq.answer2_3">İkincisi, riskleri minimize etmeyi amaçlayan 5 kriterden oluşan ayrı bir yatırım stratejimiz bulunmaktadır.</span>
                <br/><br/>
                <span data-i18n="faq.answer2_4">Üçüncüsü, yatırımların çeşitlendirilmesidir. Kısa vadeli yatırımlar ile uzun vadeli yatırımlar arasında dengeyi net bir şekilde koruyoruz. Kısa vadeli yatırımlar, yakın gelecekte kar getirecek yatırımlar iken, uzun vadeli yatırımlar ise şirketimizin istikrarı ve stratejik gelişimi için temel oluşturur. Basitçe söylemek gerekirse, bir girişimle mali zorluklar yaşarsak, diğerlerinden elde edilen karlarla bunu telafi edebiliriz.
                </span>
                <br/><br/>
                <span data-i18n="faq.answer2_5">Dördüncüsü, Oskar Group projesi, şirketin kurucuları olan sahiplerinin kişisel yatırımlarıyla temellendirilmiştir. Bu fonlar, Oskar Group’un girişimlere yaptığı ilk yatırımların %100’ünü temsil etmektedir ve şirket belgelerine göre, sahiplerin işletme yatırım faaliyetlerindeki payı, şirketin çekebileceği toplam yatırımların %51’inden az olmamalıdır. Bu nedenle, şirketimizin kurucuları yalnızca faaliyetlerinin garanti edicileri değil, aynı zamanda yatırımcılar için ödeme istikrarını sağlayarak kendi yatırımlarını garanti altına almaktadır.
                </span>
                <br/><br/>
                <span data-i18n="faq.answer2_6">Beşincisi, yalnızca yeni girişimlerle değil, aynı zamanda yatırım ve girişim sermayesi fonları, startup inkübatörleri ve IT alanında büyük şirketlerle de sürekli olarak görüşmeler yapıyoruz. Onları, finansal destek düzeyinde - krediler, yatırımlar ve gelecekte olası ICO, IPO’lar gibi işbirlikleri için çekiyoruz.
                </span>
                <br/><br/>
                <span data-i18n="faq.answer2_7">Tüm bunlar, iş modelimize ve günlük çalışmalarımıza yansımaktadır. Projeyi takip edin ve bizim yatırımcımız olun, her şeyin nasıl çalıştığını ve bugün geleceğin teknolojileriyle para kazanabileceğinizi kendiniz görün!</span>
            </p>
        </div>
        </div>

        <div class="faq-item" data-faq>
        <div class="faq-question">
            <span class="faq-title" data-i18n="faq.question3">Çekim tutarına dair herhangi bir sınırlama var mı</span>
            <div class="faq-icon"></div>
        </div>
        <div class="faq-answer">
            <p class="faq-description" data-i18n="faq.answer3">
            Bir yatırımcı, kişisel işlem limiti doğrultusunda, kişisel hesabındaki tüm fonları ödeme bilgilerine çekebilir. Oskar Group’ta, ticaret hesabınızı kolayca doldurabilir veya fonlarınızı çekebilirsiniz ve en önemlisi, bu işlemler minimum zamanınızı alır.
            </p>
        </div>
        </div>

        <div class="faq-item" data-faq>
        <div class="faq-question">
            <span class="faq-title" data-i18n="faq.question4"
            >Ödemeler ne kadar hızlı yapılır?</span
            >
            <div class="faq-icon"></div>
        </div>
        <div class="faq-answer">
            <p class="faq-description" data-i18n="faq.answer4">
            Yatırım karları her gün birikir. Fon çekim başvuruları minimum 5 dakika ve en fazla 24 saat içinde işlenir. Ancak, uygulamada başvuru işleme süresi genellikle sadece birkaç saat sürmektedir.
            </p>
        </div>
        </div>

        <div class="faq-item" data-faq>
        <div class="faq-question">
            <span class="faq-title" data-i18n="faq.question5">Forex piyasasının sahibi kimdir ve nerede bulunur?</span>
            <div class="faq-icon"></div>
        </div>
        <div class="faq-answer">
            <p class="faq-description" data-i18n="faq.answer5">
            Forex, kimseye ait değildir. Forex, tüm işlemlerin doğrudan (ya da aracılar aracılığıyla) satıcı ve alıcı arasında gerçekleştiği bir bankalar arası piyasadır. Forex, herhangi bir ülkenin hükümetine doğrudan bağlı değildir ve mevcut küresel bankacılık sistemi var olduğu sürece var olmaya devam edecektir.
            </p>
        </div>
        </div>

        <div class="faq-item" data-faq>
        <div class="faq-question">
            <span class="faq-title" data-i18n="faq.question6">Birden fazla yatırım yapmak mümkün müdür?</span>
            <div class="faq-icon"></div>
        </div>
        <div class="faq-answer">
            <p class="faq-description" data-i18n="faq.answer6">
            Evet, mümkündür. Yeni bir yatırım oluşturduğunuzda, bu yatırımın tutarı tüm yatırımlarınızın toplamına eklenir. Bu durumda, faiz yeni tutarla artacaktır. Sonuç olarak, bu yatırım modeli size daha fazla kar sağlayacaktır.
            </p>
        </div>
        </div>

        <div class="faq-item" data-faq>
        <div class="faq-question">
            <span class="faq-title" data-i18n="faq.question7">Yatırımcıların kişisel bilgilerinin gizliliği garantileniyor mu?</span>
            <div class="faq-icon"></div>
        </div>
        <div class="faq-answer">
            <p class="faq-description" data-i18n="faq.answer7">
            Evet, garantiliyoruz. Yatırımcılarımızın kişisel bilgileri üçüncü şahıslara verilmez.
            </p>
        </div>
        </div>
        </div>

    </div>
</section>