<section class="faq-section">
    <div class="container">
        <div class="faq-title-wrap"
            data-aos="fade-up"
            data-aos-offset="200"
            data-aos-delay="50"
            data-aos-duration="1000"
            data-aos-easing="ease-in-out"
            data-aos-mirror="true"
            data-aos-once="true"
            data-aos-anchor-placement="top-left"
            >
            <h2 class="title">Answers to frequently <span class="accent-text">asked questions</span></h2>
            <p class="text faq-text">In this section you will find answers to the most common questions regarding our services and operating principles. If you have not found the answer to your question, you can write to us by email using the feedback form on the website.</p>
        </div>
        <div class="faq-list">
        <div class="faq-item" data-faq>
      <div class="faq-question">
        <span class="faq-title">How to start working with the Oskar Group company?</span>
        <div class="faq-icon"></div>
      </div>
      <div class="faq-answer">
        <p class="faq-description">
          In order to start working with the Oskar Group company, you should go through a simple registration procedure on our website. Next, you need to make your first deposit by selecting the appropriate section in your personal account, after which all investment work will be carried out by our company, and you, in turn, will receive daily income from this.
        </p>
      </div>
        </div>

        <div class="faq-item" data-faq>
        <div class="faq-question">
            <span class="faq-title"
            >Can I 'lose' and not make money?</span
            >
            <div class="faq-icon"></div>
        </div>
        <div class="faq-answer">
            <p class="faq-description">
                Of course, our project is not a win-win lottery. There is always a risk in this business. But we say that the risk is not only justified, but also minimized. This is exactly what This is what we are aiming for, our business model. The risk minimization strategy includes several components: <br/>
                <br/>
                The first is a team of analysts who is responsible for the project and constantly works with risks of different levels: both short-term and long-term.
                <br/><br/>
                Second, we have a separate investment strategy of 5 criteria, which involves minimizing risks;
                <br/><br/>
                The third is diversification of investments. We clearly maintain a balance between short-term investments, which should bring profit in the near future, and long-term investments, which serve as the basis for our stability and strategic development. Simply put, if we have financial difficulties with one startup, we can compensate for this through profits from others.
                <br/><br/>
                Fourth, the Oskar Group project is based on the personal investments of its owners, who are also the founders of the company. These funds represent 100% of Oskar Group's initial investment in startups, and according to company documents, the share of owners in operating investment activities should never be less than 51% of the total investment that the company can attract. Thus, the founders of our company are not only guarantors of its activities, but also ensure stability of payments for investors, guaranteeing their own investments.
                <br/><br/>
                Fifth, we are constantly negotiating not only with new startups, but also with investment and venture funds, startup incubators and large companies that are interested in IT. We attract them to cooperation at the level of financial support - loans, investments and, in the possible future, ICO, IPO.
                <br/><br/>
                All this is also reflected in our business model and daily work. Follow the project and become our investor to see for yourself how everything works and that you can make money on the technologies of the future today!
            </p>
        </div>
        </div>

        <div class="faq-item" data-faq>
        <div class="faq-question">
            <span class="faq-title">Are there any restrictions on the withdrawal amount?</span>
            <div class="faq-icon"></div>
        </div>
        <div class="faq-answer">
            <p class="faq-description">
            An investor can withdraw all funds in his personal account in accordance with the personal transaction limit to his payment details. In Oskar Group you can replenish your trading account or withdraw funds from it easily and affordably, and most importantly, it will take a minimum of your time.
            </p>
        </div>
        </div>

        <div class="faq-item" data-faq>
        <div class="faq-question">
            <span class="faq-title"
            >How quickly are payments made?</span
            >
            <div class="faq-icon"></div>
        </div>
        <div class="faq-answer">
            <p class="faq-description">
            Investment profits are accrued daily. Applications for withdrawal of funds are processed in a minimum of 5 minutes and no more than 24 hours. However, practice shows that processing the application takes only a couple of hours.
            </p>
        </div>
        </div>

        <div class="faq-item" data-faq>
        <div class="faq-question">
            <span class="faq-title">Who owns the Forex market and where is it located?</span>
            <div class="faq-icon"></div>
        </div>
        <div class="faq-answer">
            <p class="faq-description">
            Forex does not belong to anyone in particular. Forex is an interbank market, all transactions in which occur directly (or through brokers) between the seller and the buyer. Forex does not depend directly on the government of any country and will exist as long as the current global banking system exists.
            </p>
        </div>
        </div>

        <div class="faq-item" data-faq>
        <div class="faq-question">
            <span class="faq-title">Is it possible to create several deposits at once?</span>
            <div class="faq-icon"></div>
        </div>
        <div class="faq-answer">
            <p class="faq-description">
            Yes, you can. When you create a new deposit, its amount is added to the total amount of all your deposits. In this case, the interest will be increased by the new amount. As a result, this investment model will bring you even more profit.
            </p>
        </div>
        </div>

        <div class="faq-item" data-faq>
        <div class="faq-question">
            <span class="faq-title">Do you guarantee the confidentiality of investors' personal information?</span>
            <div class="faq-icon"></div>
        </div>
        <div class="faq-answer">
            <p class="faq-description">
            Yes, we guarantee. Personal information of our investors is not transferred to third parties.
            </p>
        </div>
        </div>
        </div>

    </div>
</section>