.scroll-to-top-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  background-color: rgba(42, 42, 48, 0.2);
  border: 1px solid var(--gold);
  border-radius: 50%;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transition: opacity 250ms ease-out, visibility 250ms ease-out;
  pointer-events: none;

  &.show {
    opacity: 0.6;
    visibility: visible;
    pointer-events: all;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      opacity: 1;
    }
  }

  @include tablet {
    bottom: 50px;
    right: 50px;
    width: 48px;
      height: 48px;
  }

  @media (pointer: fine) {
    cursor: pointer;
  }
}

.scroll-to-top-icon {
  transform: rotate(180deg);
}

/*-------------------------------*/

.btn {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 100px;
  padding: 6px 24px;
  height: 54px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.4;
  text-align: center;
  background: var(--gold-gradient);
  position: relative;
  overflow: hidden;
  transition: all var(--timing-function);

  @include tablet {
    font-size: 20px;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      opacity: 0.9;
      border: 1px solid #f1d476;

      &::before,
        &::after {
          top: 0;
      }
    }
  }

    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background: var(--gray50);  
      top: 100%;
      left: 0;
      z-index: -1;
      transition: top var(--timing-function);
    }
}

.signup-btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 54px;
  border-radius: 100px;
  padding: 0 24px;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  background: rgba(10, 10, 10, 0.6);
  border: 1px solid var(--gold);
  color: var(--white);
  overflow: hidden;
  z-index: 1;
  transition: box-shadow var(--timing-function), color var(--timing-function);


  @media (hover: hover) and (pointer: fine) {
    &:hover {
      box-shadow: 0 8px 17px 0 rgba(88, 63, 9, 0.06), 0 31px 31px 0 rgba(88, 63, 9, 0.05), 0 70px 42px 0 rgba(88, 63, 9, 0.03), 0 124px 50px 0 rgba(88, 63, 9, 0.01), 0 194px 54px 0 rgba(88, 63, 9, 0);
      color: var(--white);

      &::before,
      &::after {
        top: 0;
      }
    }
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 100%;
    left: 0;
    background: var(--gold-gradient);
    transition: top var(--timing-function);
    z-index: -1;
  }

     @include tablet {
       font-size: 20px;
     }
}

.btn-icon {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
}

.btn-bg{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 36px;
    height: 36px;
    border-radius: 50%;
    opacity: 1;
  background: var(--gold-gradient);
    transition: opacity var(--timing-function);
}

.btn-arrow {
    display: block;
     position: absolute;
     width: 9px;
     height: 8px;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
      opacity: 1;
      z-index: 1;
}