:root {
  scroll-behavior: smooth;
  --white: #feffff;
  --background: #fffffc;
  --neutral-white: #fdfef6;
  --text-color: #2A2A30;
  --text-light: rgba(42, 42, 48, 0.8);
  --gray50:rgba(9, 10, 9, 0.85);
  --black: #000;
  --footer-background: rgba(0, 0, 0, 0.94);
  --footer-text:#e4e4e4;

  --gold-gradient: linear-gradient(71deg, #9a7027 0%, #f1d476 100%);
  --orange-gradient: linear-gradient(216deg, #c3884d 0%, #795406 100%);
  

  /*-----------------------------------*/
  --font-family: 'Urbanist', sans-serif;
  --second-family: 'Inter', sans-serif;
  /*-----------------------------------*/
  --timing-function: 300ms ease-in-out;
  /*-----------------------------------*/
}
