<section class="contacts-cards-section">
    <div class="container">
    <div class="contacts-cards-wrapper"
        data-aos="fade-up"
        data-aos-offset="200"
        data-aos-delay="50"
        data-aos-duration="1000"
        data-aos-easing="ease-in-out"
        data-aos-mirror="true"
        data-aos-once="true"
        data-aos-anchor-placement="top-left"
    >
        <a class="contacts-card" href="https://www.google.com/maps?q=Wagramer+Straße+19,+1220+Wien" target="_blank" aria-label="View our office on Google Maps">
            <img
            class="contacts-cards-icon"
            src="img/contacts/location.svg"
            alt="location"
            height="50"
            width="50"
        />
        <span class="contacts-cards-title">Our office address</span>
        <span class="contacts-cards-decription">Any questions? We look forward to your visit!</span>
        <span class="accent-text contacts-cards-text">Wagramer Straße 19, 1220 Wien</span>
        </a>
        <a class="contacts-card" href="tel:+4369010279113" aria-label="Call us at +4369010279113">
             <img
            class="contacts-cards-icon"
            src="img/contacts/call-outgoing.svg"
            alt="location"
            height="50"
            width="50"
        />
        <span class="contacts-cards-title">Phone number</span>
        <span class="contacts-cards-decription">Mon-Fri: 9:00 - 21:00 (GMT +1).</span>
        <span class="accent-text contacts-cards-text">+43 (690) 102 79 113</span>
        </a>
        
        <a class="contacts-card contacts-card-3" href="mailto:support@oskargroup.live" aria-label="Send an email to support@oskargroup.live">
             <img
            class="contacts-cards-icon"
            src="img/contacts/sms.svg"
            alt="location"
            height="50"
            width="50"
        />
        <span class="contacts-cards-title">Our Email</span>
        <span class="contacts-cards-decription">We are in touch 24/5</span>
        <span class="accent-text contacts-cards-text">support@oskargroup.live</span>
        </a>
        
    </div>
    </div>
</section>