<section class="about-info-section">
    <div class="container">
        <div class="about-story">
            <div class="about-story-left">
                <h4 class="title about-title">Bizim <span class="accent-text">hikayemiz</span></h4>
                <p class="about-text"> Oskar Group, 2015 yılında kuruldu. Perakende yatırımcıların küresel borsa ticaretine katılmasına olanak tanıyan hızla büyüyen bir aracılık şirketiyiz.</p>
                <div class="about-charts-wrapper">
                    <div class="about-chart about-chart-gold">
                        <h4 class="small-title">Satış Değeri Artışı</h4>
                        <p class="gold-percent">
                            <span id="about-percent-gold">0</span><span class="accent-text gold-accent">%</span>
                        </p>
                        <div class="gold-values">
                            <p class="gold-text"><span class="gold-text-bold">2024 Değeri:</span> 160.46 milyar</p>
                            <p class="gold-text"><span class="gold-text-bold">2023 Değeri:</span> 93.32 milyar</p>
                        </div>
                    </div>
                    <div class="about-chart about-chart-black">
                        <h4 class="small-title">2024 Anlaşmaları</h4>
                        <p class="gold-percent">
                            <span id="about-us-agreement">0</span><span class="accent-text gold-accent">K+</span>
                        </p>
                        <p class="about-chart-text">
                            Oskar Group, müşterilerimize bir varlık sınıfı için kurumsal düzeyde likidite sağlar.
                        </p>
                    </div>
                </div>
            </div>
            <div class="about-story-right">
                <p class="about-text">
                    Avrupa pazarlarında büyük bir başarı elde ettik ve şimdi stratejik kapsamımızı genişletmeye odaklanıyoruz. Yönetim açısından, şirketi yönetmek için dünyanın en iyi finansçılarından birini işe almak geleneksel bir uygulama oldu.
                </p>
                <p class="about-text">
                    Ancak her finansçı bir şirketi nasıl yöneteceğini düşünecek yeteneğe sahip değildir. Bu pozisyona, dar çevrelerde oldukça ünlü olan girişimci Rafali Kramer işe alındı. CEO pozisyonunu devralır almaz Rafali, Oskar Group'ta yetenekli öğrenciler için dünyanın en iyi finansal kurumlarıyla staj anlaşmaları imzaladı. Bu, finans dünyasındaki dahileri fark etmeyi ve onlarla büyük sözleşmeler yapmayı mümkün kıldı.
                </p>
            </div>
        </div>
        <div class="about-work"
                data-aos="fade-up"
                data-aos-offset="200"
                data-aos-delay="50"
                data-aos-duration="1000"
                data-aos-easing="ease-in-out"
                data-aos-mirror="true"
                data-aos-once="false"
                data-aos-anchor-placement="top-left">
            <div class="about-work-wrapper">
                <h4 class="title about-title">Bizim <span class="accent-text">işimiz</span></h4>
                <p class="about-text">Oskar Group, müşterilerine aracı modelde hizmet verir ve müşteriler ile bankalar arası döviz piyasasındaki likidite sağlayıcılar arasında bir aracı olarak hareket eder. Şirket, müşterilerine klasik ticaret stratejilerinden algoritmik ticarete kadar herhangi bir ticaret stratejisini hiçbir kısıtlama olmaksızın kullanma fırsatı sunar.</p>
            </div>
            <div class="about-work-chart">
                    <div class="work-chart-title" >
                        <p class="work-chart-heading">Etkileyici Artış <span class="accent-text">2024 Satışlarında</span></span></p>
                        <p class="work-chart-pecrent"><span id="work-chart-percent">0</span><span class="accent-text work-chart-accent">%</span></p>
                    </div>
                    <p class="text work-chart-text">Oskar Group, yenilikçi ticaret koşulları sunmaya adanmış bir sonraki nesil aracı kurumdur. Platformumuz, yeni başlayanlardan profesyonellere kadar her seviyedeki yatırımcılara karlı sonuçlar elde etme imkanı tanır. Bugün bize katılın ve kesintisiz bir ticaret deneyimi yaşayın!</p>
                </div>
        </div>
        <div class="about-info-cards">
            <div class="about-info-card gold-card">
                <div class="choices-icon-wrap">
                        <img
                        src="/img/choice/cpu.svg"
                        alt="image"
                        width="50"
                        height="50"
                        />
                </div>
                        <h4 class="small-title">Tüst Düzey Piyasalar </h4>
                        <p class="choices-card-text">Yatırım profesyonelleri ekibimiz, özel piyasada en güçlü ve çeşitlendirilmiş teklifleri bulmaya odaklanmaktadır.</p>
                <div class="choices-arrow-wrap">
                        <img
                        src="/img/choice/arrow-gold.svg"
                        alt="arrow"
                        />
                </div>
            </div>
            <div class="about-info-card">
                <div class="choices-icon-wrap" style="background-color: transparent;">
                    <img
                        src="/img/choice/devices.svg"
                        alt="image"                    
                        width="50"
                        height="50"
                        />
                </div>
                        <h4 class="small-title">Tam dijitalleşme</h4>
                        <p class="choices-card-text">Tüm yatırım sürecimiz dijitaldir - kayıttan belgelerin imzalanmasına, raporlama ve sermaye gereksinimlerine kadar.</p>
                <div class="choices-arrow-wrap gradient">
                        <img
                        src="/img/choice/arrow-white.svg"
                        alt="arrow"
                        />
                </div>
            </div>
            <div class="about-info-card">
                    <div class="choices-icon-wrap" style="background-color: transparent;">
                    <img
                        src="/img/choice/cpu-charge.svg"
                        alt="image"
                        width="50"
                        height="50"
                        />
                        </div>
                        <h4 class="small-title">İkincil Pazar</h4>
                        <p class="choices-card-text">Oskar Group, müşterilerine genellikle likit olmayan bir varlık sınıfında kurumsal düzeyde likidite sağlar.</p>
                    <div class="choices-arrow-wrap gradient">
                        <img
                        src="/img/choice/arrow-white.svg"
                        alt="arrow"
                        />
                    </div>
            </div>
            <div class="about-btn-wrap"
                    data-aos="fade-up"
                    data-aos-offset="200"
                    data-aos-delay="50"
                    data-aos-duration="1000"
                    data-aos-easing="ease-in-out"
                    data-aos-mirror="true"
                    data-aos-once="false"
                    data-aos-anchor-placement="top-left">
                    <h2 class="title about-info-title">
                        <span>Oskar Group’a</span> <br/>
                    <span class="accent-text">Nasıl Kayıt Olunur?</span>
                    </h2>
                    <a href="" class="signup-btn about-info-btn">Kayıt ol
                        <div class="btn-icon">
                        <div class="btn-bg"></div>
                        <img
                        class="btn-arrow"
                        src="/img/arrow.svg"
                        alt="arrow"
                        />
                    </div>  
                    </a>
            </div>
        </div>
        <div class="about-details">
            <div class="about-feedback"
            data-aos="fade-up"
                data-aos-offset="200"
                data-aos-delay="50"
                data-aos-duration="1000"
                data-aos-easing="ease-in-out"
                data-aos-mirror="true"
                data-aos-once="false"
                data-aos-anchor-placement="top-left">
                <div class="about-feedback-wrap">
                    <h4 class="about-feedback-title accent-text">Ne Yapıyoruz?</h4>
                    <p class="about-feedback-text">Oskar Group, yatırımcılardan aldığı olumlu geri bildirimlerle şirketin güvenilirliğini ve ekibin profesyonelliğini doğrulamaktadır. Şu anda şirket, Avrupa ve Asya bölgelerinde CFD ticaretine erişim sağlama konusunda liderlerden biridir. Sadece birkaç tıklama ile bir hesap açarak bunu kendiniz görebilirsiniz.</p>
                </div>
            </div>
            <div class="about-specialization">
                <h4 class="about-specialization-title">Bizim Uzmanlığımız</h4>
                <p class="about-specialization-text">Oskar Group, küresel finansal işlemler pazarında liderlerden biridir. Her zaman iş ortaklarımıza en güncel ticaret bilgilerini sunuyoruz. Oskar Group, finans alanındaki en iyi uzmanları bir araya getirerek ticaretinizden en yüksek karı elde etmenize yardımcı olur. Kripto para, emtia ve hisse senedi piyasalarında gereksiz zorluklar olmadan kazanmaya başlarsınız. Sitemiz, tüm modern güvenlik ve ağ koruma sistemleriyle donatılmıştır. Müşteri destek hizmetimiz, haftada 5 gün 24 saat hizmet vermekte olup, her zaman ve her yerde size yardımcı olmaya hazırdır.</p>
            </div>
        </div>
    </div>
</section>