<section class="about-info-section">
    <div class="container">
        <div class="about-info-cards">
            <div class="about-info-card gold-card">
                <div class="choices-icon-wrap">
                        <img
                        src="./img/choice/cpu.svg"
                        alt="image"
                        width="50"
                        height="50"
                        />
                </div>
                        <h4 class="small-title">Top Tier Markets </h4>
                        <p class="choices-card-text">Our team of investment professionals is focused on finding the most robust and diverse offerings in the private market.</p>
                <div class="choices-arrow-wrap">
                        <img
                        src="./img/choice/arrow-gold.svg"
                        alt="arrow"
                        />
                </div>
            </div>
            <div class="about-info-card">
                <div class="choices-icon-wrap" style="background-color: transparent;">
                    <img
                        src="./img/choice/devices.svg"
                        alt="image"                    
                        width="50"
                        height="50"
                        />
                </div>
                        <h4 class="small-title">Full digitalization</h4>
                        <p class="choices-card-text">Our entire investment process is digital - from registration and signing of documents to reporting and capital requirements..</p>
                <div class="choices-arrow-wrap gradient">
                        <img
                        src="./img/choice/arrow-white.svg"
                        alt="arrow"
                        />
                </div>
            </div>
            <div class="about-info-card">
                    <div class="choices-icon-wrap" style="background-color: transparent;">
                    <img
                        src="./img/choice/cpu-charge.svg"
                        alt="image"
                        width="50"
                        height="50"
                        />
                        </div>
                        <h4 class="small-title">Secondary Market</h4>
                        <p class="choices-card-text">Oskar Group provides institutional-grade liquidity to our clients for an asset class that is typically illiquid.</p>
                    <div class="choices-arrow-wrap gradient">
                        <img
                        src="./img/choice/arrow-white.svg"
                        alt="arrow"
                        />
                    </div>
            </div>
            <div class="about-btn-wrap"
                    data-aos="fade-up"
                    data-aos-offset="200"
                    data-aos-delay="50"
                    data-aos-duration="1000"
                    data-aos-easing="ease-in-out"
                    data-aos-mirror="true"
                    data-aos-once="false"
                    data-aos-anchor-placement="top-left">
                    <h2 class="title about-info-title">
                        <span>How to Sign Up</span>
                    <span class="accent-text">on Oskar Group?</span>
                    </h2>
                    <a href="" class="signup-btn about-info-btn">Sign up
                        <div class="advantage-btn-icon">
                        </div>   
                        <img
                        class="about-info-btn-arrow"
                        src="./img/advantages/arrow.svg"
                        alt="arrow"
                        />
                    </a>
            </div>
        </div>
        <div class="about-details">
            <div class="about-feedback">
                <div class="about-feedback-wrap">
                    <h4 class="about-feedback-title accent-text">What do we do?</h4>
                    <p class="about-feedback-text"> Oskar Group has a lot of positive feedback from traders, which confirms the reliability of the company and the professionalism of the team. At the moment, the company is one of the leaders in providing access to CFD trading in European and Asian regions.You can see it for yourself by opening an account with just a couple of clicks.</p>
                </div>
            </div>
            <div class="about-specialization">
                <h4 class="about-specialization-title">Our specialization</h4>
                <p class="about-specialization-text">Oskar Group is one of the leaders in the global financial transactions market. We always provide our partners with the most up-to-date trading information. Oskar Group brings together the best specialists in the field of finance to help you get the most profit from your trading. You start earning on the cryptocurrency, commodity and stock markets without unnecessary difficulties. Our site is equipped with all modern security and network protection systems. Our customer support is available 24/5 and is ready to help you anytime and anywhere.</p>
            </div>
        </div>
    </div>
</section>