<section class="platform-section" id="about-us"> 
    <div class="container">
        <div class="platform-wrapper">
            <div class="platform-first-wrap"
                data-aos="fade-up"
                data-aos-offset="200"
                data-aos-delay="50"
                data-aos-duration="1000"
                data-aos-easing="ease-in-out"
                data-aos-mirror="true"
                data-aos-once="false"
                data-aos-anchor-placement="top-left"
                > 
                <h2 class="title title-white"><span data-i18n="platform.title1">Yenilikçi ticaret </span> <br/> <span class="accent-text platform-title" data-i18n="platform.title2">platformumuzda işlem yapın</span></h2>
                <div class="platform-list">
                <div class="platform-item">
                    <img
                    src="../img/platform/binance.svg"
                    alt="square"
                    />
                    <span data-i18n="platform.item1">İleri düzey ticaret araçları</span>
                </div>
                <div class="platform-item">
                    <img
                    src="../img/platform/3square.svg"
                    alt="square"
                    />
                    <span data-i18n="platform.item2">Geniş varlık seçimi</span>
                </div>
                <div class="platform-item">
                    <img
                    src="../img/platform/layer.svg"
                    alt="square"
                    />
                    <span data-i18n="platform.item3">Regülasyona uygunluk</span>
                </div>
                <div class="platform-item">
                    <img
                    src="../img/platform/money.svg"
                    alt="square"
                    />
                    <span data-i18n="platform.item4">Her miktarda yatırım imkanı</span>
                </div>
                </div>
            </div>
            <div class="platform-second-wrap">
                <p class="text platform-text" data-i18n="platform.text">Oskar Group, dünya çapındaki finansal piyasalarda işlem yapmanıza olanak tanıyan ödüllü bir platformdur. Forex, emtialar, endeksler ve kripto paralar gibi geniş bir ticaret enstrümanı yelpazesi ile Oskar Group, her türlü piyasa koşulunda başarılı ticaret yapmanız için ideal bir ortam yaratır. Platformumuz, hızlı işlem yürütme, güvenilir veri koruma ve şeffaf ticaret koşulları sunar.</p>
                <div class="platform-btn-wrap">
                 <a
                    type="button"
                    class="btn platform-btn"
                    data-i18n="tryPlat"
                    >
                    Deneyin
                    </a>
                 <a href="" class="signup-btn platform-btn-2" data-i18n="signup">Kayıt ol
                    <div class="advantage-btn-icon">
                    </div>   
                    <img
                    class="btn-arrow"
                    src="../img/advantages/arrow.svg"
                    alt="arrow"
                    />
                </a>
            </div>
        </div>
    </div>
</section>