<section class="platform-section"> 
    <div class="container">
        <div class="platform-wrapper">
            <div class="platform-first-wrap">
                <h2 class="title title-white">Trade on our innovative <br/> <span class="accent-text platform-title">trading platform</span></h2>
                <div class="platform-list">
                <div class="platform-item">
                    <img
                    src="./img/platform/binance.svg"
                    alt="square"
                    />
                    <span>Advanced trading tools</span>
                </div>
                <div class="platform-item">
                    <img
                    src="./img/platform/3square.svg"
                    alt="square"
                    />
                    <span>Extensive asset selection</span>
                </div>
                <div class="platform-item">
                    <img
                    src="./img/platform/layer.svg"
                    alt="square"
                    />
                    <span>Regulatory compliance</span>
                </div>
                <div class="platform-item">
                    <img
                    src="./img/platform/money.svg"
                    alt="square"
                    />
                    <span>Investments for any amount</span>
                </div>
                </div>
            </div>
            <div class="platform-second-wrap">
                <p class="text platform-text">Oskar Group is an award-winning platform that allows you to trade the world's financial markets. With a wide range of trading instruments, including forex, commodities, indices and cryptocurrencies, Oskar Group creates an optimal environment for successful trading in any market conditions. Our platform provides fast transaction execution, reliable data protection and transparent trading conditions.</p>
                <div class="platform-btn-wrap">
                 <a
                    type="button"
                    class="btn platform-btn"
                    >
                    Try our platform
                    </a>
                 <a href="" class="signup-btn platform-btn-2">Sign up
                    <div class="advantage-btn-icon">
                    </div>   
                    <img
                    class="btn-arrow"
                    src="./img/advantages/arrow.svg"
                    alt="arrow"
                    />
                </a>
            </div>
        </div>
    </div>
</section>