<div class="modal micromodal-slide" id="my-modal">
    <div class="modal__overlay" tabindex="-1" data-micromodal-close>
        <div class="modal__container" role="dialog" aria-modal="true">
            <div class="modal__content">
                <button class="custom-modal__close" aria-label="Close modal" data-micromodal-close>
                   <img
                        class="modal-close"
                        src="/img/close.svg"
                        alt="close-icon"
                        width="32"
                        height="32"
                    />
                </button>
            </div>
        </div>
    </div>
</div>