<div class="modal micromodal-slide" id="my-modal">
    <div class="modal__overlay" tabindex="-1" data-micromodal-close>
        <div class="modal__container" role="dialog" aria-modal="true">
            <div class="modal__content">
                <button class="close-modal" aria-label="Close modal" data-micromodal-close>
                   <img
                        src="/img/close-modal.svg"
                        alt="close-icon"
                        width="11"
                        height="11"
                    />
                </button>
                <div class="auth-container">
                    <div class="auth-tabs-wrapper">
                        <div class="auth-logo">
                            <img
                                class="modal-logo"
                                src="/img/logo.svg"
                                alt="oscar"
                                width="331"
                                height="146"
                                />
                        </div>
                        <div class="auth-tabs">
                            <button class="auth-tab active" data-tab="login">Login</button>
                            <button class="auth-tab" data-tab="registration">Registration</button>
                        </div>
                    </div>
                    <div class="auth-forms">
                        <!-- Login Form -->
                        <form class="auth-form js-login-form active" id="js-login-form">
                            <div class="auth-form-field">
                                <label for="email-login" class="auth-label">Email</label>
                                <input type="email" id="email-login" class="auth-input" placeholder="Enter your email address" required autocomplete="username"/>
                            </div>
                            <div class="auth-form-field password-input">
                                <label for="password-login" class="auth-label">Password</label>
                                <input type="password" id="password-login"  maxlength="16" class="auth-input" placeholder="Enter your password" required autocomplete="current-password" minlength="8"/>
                                <button type="button" class="toggle-password" aria-label="Show/Hide password">
                                    <i class="fas fa-eye-slash"></i>
                                </button>
                            </div>
                            <div class="auth-actions">
                                <a href="#" class="auth-link">Forgot your password?</a> 
                                <button type="submit" class="btn auth-button" id="login-submit">Login</button>
                            </div> 
                            <div class="auth-social">
                                <button class="auth-social-button facebook">
                                    <img src="/img/modal/facebook.svg" height="15" width="9" alt="facebook" />
                                    Login with Facebook
                                </button>
                                <button class="auth-social-button google">
                                    <img src="/img/modal/google.svg" height="18" width="18" alt="google" />
                                    Login with Google
                                </button>
                            </div>
                        <p class="auth-footer">I am a new user. <a href="#" class="auth-footer-link"  data-tab="registration">Sign Up</a></p>
                        </form>

                        <!-- Registration Form -->
                        <form class="auth-form registration-form js-registration-form" id="registration-form">
                        <div class="auth-input-group">
                            <div class="auth-form-field">
                                <label for="name-register" class="auth-label">Name</label>
                                <input type="text" id="name-register" class="auth-input" placeholder="Enter your name" required />
                            </div>
                             <div class="auth-form-field">
                                <label for="last-name-register" class="auth-label">Last Name</label>
                                <input type="text" id="last-name-register" class="auth-input" placeholder="Enter your last name" required />
                            </div>
                        </div>
                        <div class="auth-input-group">
                            <div class="auth-form-field">
                                <label for="phone-register" class="auth-label">Phone number</label>
                                <input type="text" id="phone-register" class="auth-input" placeholder="Enter your phone number" required maxlength="10" data-bouncer-pattern="phone"/>
                            </div>
                             <div class="auth-form-field">
                                <label for="email-register" class="auth-label">Email</label>
                                <input type="text" id="email-register" class="auth-input" placeholder="Enter your email address" required autocomplete="username"/>
                            </div>
                        </div>
                        <div class="auth-input-group">
                             <div class="auth-form-field password-input">
                                <label for="password-register" class="auth-label">Password</label>
                                <input type="password" id="password-register" maxlength="16"  placeholder="Enter your password" class="auth-input" required autocomplete="new-password" minlength="8"/>
                                <button type="button" class="toggle-password" aria-label="Show/Hide password">
                                    <i class="fas fa-eye-slash"></i>
                                </button>
                            </div>
                             <div class="auth-form-field password-input">
                                <label for="confirm-register" class="auth-label">Password confirmation</label>
                                <input type="password" id="confirm-register" maxlength="16" class="auth-input" placeholder="Password confirmation" required autocomplete="new-password" minlength="8"/>
                                <button type="button" class="toggle-password" aria-label="Show/Hide password">
                                    <i class="fas fa-eye-slash"></i>
                                </button>
                            </div>
                        </div>
                        <div class="auth-form-field">
                                <label for="promo-register" class="auth-label">Promocode</label>
                                <input type="text" id="promo-register" class="auth-input" placeholder="Enter your promocode" />
                            </div>
                        <div class="auth-checkboxes">
                            <label for="checkbox-user">
                                <input type="checkbox" id="checkbox-user" required class="custom-checkbox"/>
                                <span class="custom-checkbox-icon">
                                <img
                                    class="custom-checkbox-icon-svg"
                                    src="/img/modal/arrow.svg"
                                    alt="close-icon"
                                    width="11"
                                    height="11"
                                />
                                </span>
                                <a href="/files/user_agreement.pdf" target="_blank" rel="noopener noreferrer">User Agreement</a>
                            </label>
                            <label for="checkbox-privacy">
                                <input type="checkbox" id="checkbox-privacy" required class="custom-checkbox"/>
                                <span class="custom-checkbox-icon">
                                <img
                                    class="custom-checkbox-icon-svg"
                                    src="/img/modal/arrow.svg"
                                    alt="close-icon"
                                    width="11"
                                    height="11"
                                />
                                </span>
                                <a href="/files/refund_policy.pdf" target="_blank" rel="noopener noreferrer">Refund Policy</a>
                            </label>
                        </div>
                        <button type="submit" class="btn auth-button" id="registration-submit">Registration</button>
                        <div class="auth-social">
                            <button class="auth-social-button facebook">
                                <img
                                    src="/img/modal/facebook.svg"
                                    height="15"
                                    width="9"
                                    alt="facebook"
                                />
                                Continue with Facebook</button>
                            <button class="auth-social-button google">
                                <img
                                    src="/img/modal/google.svg"
                                    height="18"
                                    width="18"
                                    alt="google"
                                />
                                Continue with Google</button>
                        </div>
                        <p class="auth-footer">Already have an account? <a href="#" data-tab="login" class="auth-footer-link">Login</a></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>