.slider-markets-wrap {
    position: relative;
    width: 100%;
    background: transparent;
    padding: 32px 0;
}

.slider-markets-slides {
    display: flex;
    gap: 16px;
    color: var(--white);
    animation: slide-animation 20s linear infinite;
}