.slider-markets-wrap {
    position: relative;
    width: 100%;
    background: transparent;
    padding: 32px 0;
    overflow: hidden;
}

.slider-markets-slides {
    display: flex;
    color: var(--white);
    animation: slide-animation 45s linear infinite;
    width: max-content;
}

.slider-markets-slides::after {
    content: '';
    display: flex;
    animation: none;
}
