<section class="regulated-activity-section">
    <div class="container">
        <div class="regulated-activity-content">
            <div class="regulated-activity-header">
                <h2 class="title regulated-activity-title">Regulated activity <span class="accent-text">for your safety</span></h2>
                <p class="regulated-activity-description">Oskar Group is regulated by independent global institutions and financial markets commissions. This is a key security indicator for every client.</p>
            </div>
            <div class="regulated-activity-links">
                <a href="#" class="activity-link">
                    <img
                    src="/img/about-us/profile.svg"
                    alt="profile"
                    class="activity-link-icon"
                    />
                    <div>
                        <h4 class="activity-link-title">User Agreement</h4>
                        <p class="activity-link-description">Read the user agreement</p>
                    </div>
                </a>
                <a href="#" class="activity-link">
                    <img
                    src="/img/about-us/snapchat.svg"
                    alt="profile"
                    class="activity-link-icon"
                    />
                    <div>
                        <h4 class="activity-link-title">Refund and Cancellation Policy</h4>
                        <p class="activity-link-description">Read the Refund and Cancellation Policy</p>
                    </div>
                </a>
                 <div class="regulated-activity-buttons">
                 <a href="" class="signup-btn about-btn-signup" data-i18n="signup">Sign up
                    <div class="btn-icon">
                        <div class="btn-bg"></div>
                        <img
                        class="btn-arrow"
                        src="./img/arrow.svg"
                        alt="arrow"
                        />
                    </div>  
                </a>
                 <a
                    type="button"
                    class="btn about-btn"
                    >
                    Try our platform
                    </a>
            </div>
            </div>
        </div>
    </div>
</section>