<section class="advantage-section">
    <div class="container">
        <div class="advantage-title-wrap">
            <h2 class="title advantage-title">
                Advantages of our
                <span class="accent-text">trading platform</span>
            </h2>
            <div class="advantage-text-wrap">
            <p class="advantage-text">Trade from any convenient device from any convenient point on the planet. The same level of comfort on both desktop and mobile devices.</p>
            <p class="advantage-text">Oskar Group is a new generation broker. We focused on creating innovative conditions, which will help all traders, including beginners, trade profitably.</p>
            </div>
        </div>
        <div class="advantage-decor-wrap">
            <div>
                <div class="advantage-chart-wrap">
                    <img
                    src="./img/advantages/chart.avif"
                    alt="chart"
                    class="advantage-chart-black"
                    />
                    <div class="advantage-chart-gold">
                        <h4 class="small-title">Sales Value Increase</h4>
                        <p class="gold-percent">72,3<span class="accent-text gold-accent">%</span></p>
                        <div>
                        <p class="gold-text"><span class="gold-text-bold">2024 Value:</span> 160.46 billion</p>
                        <p class="gold-text"><span class="gold-text-bold">2023 Value:</span> 93.32 billion</p>
                    </div>
                </div>
                </div>
                <div class="advantage-increase">
                    <div class="advantages-increase-title">
                        <p class="advantages-increase-heading">Impressive Increase <span class="accent-text">in 2024 Sales</span></p>
                        <p class="advantages-increase-pecrent">56<span class="accent-text pecrent-accent">%</span></p>
                    </div>
                    <p class="advantages-increase-text">Oskar Group is a next-generation broker dedicated to providing innovative trading conditions. Our platform empowers traders of all levels, from beginners to professionals, to achieve profitable results. Join us today and experience a seamless trading journey!</p>
                </div>
            </div>
            <div class="advantage-decor">
                <div class="advantage-decor-content">
                    <p class="gold-percent" style="margin-bottom: 23px;">80<span class="accent-text gold-accent">K+</span></p>
                    <h4 class="small-title">2024 Agreements</h4>
                    <p class="advantage-decor-text">Oskar Group provides institutional-grade liquidity to our clients for an asset class that is typically illiquid.</p>
                </div>
            </div>
        </div>
        <div class="advantage-signup-wrap">
            <img
                    src="./img/advantages/chart3.avif"
                    alt="chart"
                    class="advantage-signup-chart"
                    />
            <div class="advantage-signup-btn-wrap">
                <h2 class="title advantage-title">
                How to Sign Up 
                <span class="accent-text">on Oskar Group?</span>
                </h2>
                <a href="" class="signup-btn advantage-btn">Sign up
                    <div class="advantage-btn-icon">
                    </div>   
                    <img
                    class="advantage-arrow"
                    src="./img/advantages/arrow.svg"
                    alt="arrow"
                    />
                </a>
             </div>
        </div>
    </div>
</section>