.form-section .container{
    @include laptop {
        padding-left: 80px;
        padding-right: 80px;
    }
}

.form-wrapper{
    display: flex;
    flex-direction: column;
    gap: 24px;
    border-radius: 32px;
    border: 1px solid #C3884D;
    padding: 24px 16px;
    box-shadow: -2px 18px 18px 0 rgba(95, 67, 24, 0.05);
    background-color: var(--white);

    @include tablet{
        gap: 32px;
        padding: 32px;
        flex-direction: row;
        justify-content: space-between;
    }

    @include laptop{
        padding: 40px;
        height: 518px;
    }
}

.form-title{
    font-size: 20px;

    @include tablet {
        font-size: 40px;
    }
}

.form-text{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
    color: var(--text-light);
    margin-top: 16px;

    @include tablet {
        margin-top: 20px;
    }


    @include laptop {
        max-width: 474px;
        font-size: 16px;
    }
}

.contact-form{
    display: flex;
    flex-direction: column;
    gap: 16px;

    @include tablet {
            max-width: 420px;
        }

    @include laptop {
        max-width: 474px;
    }
}

.form-text-wrapper{
    position: relative;
}

.form-img{
    width: 258px;
    margin-bottom: 24px;
    margin-left: auto;
    margin-right: auto;

    @include tablet {
        width: 331px;
        margin-bottom: 32px;
        margin-left: 0;
    }

    
}

.contact-field-wrapper{
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
}

.phone-email-wrap{
    display: flex;
    flex-direction: column;
    gap: 16px;

    @include laptop{
        flex-direction: row;
        gap: 24px;
    }
}

.iti input{
    width: 100%;
}

.contact-field-wrapper {
    position: relative;

    .form-label {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.5;
        color: var(--text-light);
        transition: color var(--timing-function);

        @include tablet {
            font-size: 16px;
        }
    }

    .field-styles {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.5;
        border: 1px solid rgba(47, 40, 17, 0.2);
        border-radius: 8px;
        padding: 8px 16px;
        box-shadow: 1px 1px 5px 0 rgba(76, 57, 16, 0.05);
        background-color: var(--white);
        transition: border-color var(--timing-function); 

        &:focus {
            border: 1px solid var(--gold);
            outline: none;
        }
    }

    &:focus-within .form-label {
        color: var(--gold);
    }
}

.field-styles::placeholder {
    color: var(--text-light);
    opacity: 0.5;
}


.contact-form-text{
    font-weight: 400;
    font-size: 12px;
    line-height: 1.4;
    color: var(--text-light);
    margin-bottom: 24px;
    text-align: start;

    @include tablet {
        margin: 16px 0 40px;
    }
}


.contact-form-message {
    resize: none;
    min-height: 92px;
}

.contact-form-btn-wrapper{
    text-align: center;

    @include tablet {
        text-align: start;
    }
}

.contact-form-btn{
    width: 100%;
    color: var(--white);
}