<section class="form-section">
    <div class="container">
        <div class="form-wrapper">
            <div class="form-text-wrapper">
                <h2 class="title">Contact <span class="accent-text">us</span></h2>
                <p class="text form-text">Our support works around the clock so that you can contact our managers on any issue. We are ready to help you and give practical advice for your success.</p>
                <img
                    class="form-img"
                    src="./img/form/oscar.avif"
                    alt="oscar"
                    width="447"
                    height="330"
                    />
            </div>
             <form class="contact-form js-contact-form" autocomplete="off">
                <div class="contact-field-wrapper">
                <label class="form-label" for="name">Name</label>
                <input
                    class="field-styles"
                    type="text"
                    id="name"
                    name="name"
                    placeholder="enter your name"
                    required
                    maxlength="50"
                />
                </div>
                <div class="phone-email-wrap">
                    <div class="contact-field-wrapper">
                        <label class="form-label" for="phone">Phone number</label>
                        <input
                            class="field-styles input-small"
                            type="tel"
                            id="tel"
                            name="phone"
                            placeholder="enter your phone number"
                            required
                            data-bouncer-pattern="phone"
                        />
                    </div>
                <div class="contact-field-wrapper">
                <label class="form-label" for="email">E-mail</label>
                <input
                    class="field-styles input-small"
                    type="email"
                    id="email"
                    name="email"
                    placeholder="enter your email address"
                    required
                    maxlength="70"
                />
                </div>
                </div>
                <div class="contact-field-wrapper">
                <label class="form-label" for="message">Message</label>
                <textarea
                    class="contact-form-message field-styles"
                    id="message"
                    name="message"
                    placeholder="write your message"
                    required
                    maxlength="500"
                ></textarea>
                </div>
                <div class="contact-form-btn-wrapper">
                    <p class="contact-form-text">By clicking the “contact us” button you agree to the processing of your personal data. We do not transfer your data to third parties hands.</p>
                <button
                    type="submit"
                    class="btn contact-form-btn"
                    aria-label="open contact modal"
                >
                    <span class="btn-text">Send</span>
                </button>
                </div>
            </form>
        </div>
    </div>
</section>