<section class="form-section" id="contact-us">
    <div class="container">
        <div class="form-wrapper">
            <div class="form-text-wrapper">
                 <img
                    class="form-img"
                    src="./img/logo.svg"
                    alt="oscar"
                    width="331"
                    height="146"
                    />
                <h2 class="title"><span data-i18n="form.title1">Contact </span><span class="accent-text" data-i18n="form.title2">us</span></h2>
                <p class="text form-text" data-i18n="form.text1">Our support works around the clock so that you can contact our managers on any issue. We are ready to help you and give practical advice for your success.</p>
            </div>
             <form class="contact-form js-contact-form" autocomplete="off">
                <div class="contact-field-wrapper">
                    <label class="form-label" for="name" data-i18n="form.name">Name</label>
                    <input
                        class="field-styles"
                        type="text"
                        id="name"
                        name="name"
                        placeholder="enter your name"
                        data-i18n-placeholder="form.name_placeholder"
                        required
                        maxlength="50"
                        data-bouncer-pattern="name"
                    />
                </div>
                <div class="phone-email-wrap">
                    <div class="contact-field-wrapper">
                        <label class="form-label" for="phone" data-i18n="form.phone">Phone number</label>
                        <input
                            class="field-styles input-small"
                            type="tel"
                            id="phone"
                            name="phone"
                            placeholder="enter your phone number"
                            data-i18n-placeholder="form.phone_placeholder"
                            required
                            maxlength="10"
                            data-bouncer-pattern="phone"
                            autocomplete="off"
                            autocorrect="off"
                        />
                    </div>
                <div class="contact-field-wrapper">
                <label class="form-label" for="email" data-i18n="form.email">E-mail</label>
                <input
                    class="field-styles input-small"
                    type="email"
                    id="email"
                    name="email"
                    placeholder="enter your email address"
                    data-i18n-placeholder="form.email_placeholder"
                    required
                    maxlength="70"
                    data-bouncer-pattern="email"
                />
                </div>
                </div>
                <div class="contact-field-wrapper">
                <label class="form-label" for="message" data-i18n="form.message">Message</label>
                <textarea
                    class="contact-form-message field-styles"
                    id="message"
                    name="message"
                    placeholder="write your message"
                    data-i18n-placeholder="form.message_placeholder"
                    required
                    maxlength="500"
                ></textarea>
                </div>
                <div class="contact-form-btn-wrapper">
                    <p class="contact-form-text" data-i18n="form.text2">By clicking the “contact us” button you agree to the processing of your personal data. We do not transfer your data to third parties hands.</p>
                <button
                    type="submit"
                    class="btn contact-form-btn"
                    aria-label="open contact modal"
                >
                    <span class="btn-text" data-i18n="form.btn">Contact us</span>
                </button>
                </div>
            </form>
        </div>
    </div>
</section>