<section class="benefits-section">
    <div class="container">
        <h2 class="title benefits-title"> <span data-i18n="benefits.title1">Platformumuzun birçok avantajından yararlanın </span><span class="accent-text" data-i18n="benefits.title2">ticaret platformu</span></h2>
        <div class="benefits-wrapper">
            <div>
                <p class="text benefits-text" style="margin-bottom: 20px;" data-i18n="benefits.text1">Oskar Group platformu, web trader ve mobil ile tablet uygulamaları, dünyanın herhangi bir yerinde, istediğiniz zaman ticaret yapmanızı sağlar. En son teknoloji araçları ve gerçek zamanlı piyasa analizleri ile bilinçli kararlar alabilir ve ticaret potansiyelinizi en üst düzeye çıkarabilirsiniz. Kullanıcı dostu arayüzümüz, ister yeni başlayan bir yatırımcı ister deneyimli bir profesyonel olun, sorunsuz bir ticaret deneyimi sunar.</p>
                <p class="text benefits-text" data-i18n="benefits.text2">Bugün Oskar Group'a katılın ve finansal geleceğinizi kontrol altına alın.</p>
                    <img
                    class="graph1"
                        src="../img/benefits/graph1-tr.avif"
                        alt="graph"
                        data-aos="fade-up"
                        data-aos-offset="200"
                        data-aos-delay="50"
                        data-aos-duration="1000"
                        data-aos-easing="ease-in-out"
                        data-aos-mirror="true"
                        data-aos-once="true"
                        data-aos-anchor-placement="top-left"
                        />
                     <div class="graphs-wrapper"
                        data-aos="fade-up"
                        data-aos-offset="200"
                        data-aos-delay="50"
                        data-aos-duration="1000"
                        data-aos-easing="ease-in-out"
                        data-aos-mirror="true"
                        data-aos-once="true"
                        data-aos-anchor-placement="top-left">
                        <img
                        class="graph2"
                        src="../img/benefits/graph2-tr.avif"
                        alt="graph"
                        />
                        <img
                        class="graph2"
                        src="../img/benefits/graph3-tr.avif"
                        alt="graph"
                        />
                </div>
            </div>
            <div class="benefits-cards">
                <div class="benefits-card card-oscar benefits-card-text-wrap">
                    <p class="benefits-card-title" data-i18n="benefits.card1Title">Standartlara uygunluk</p>
                    <p class="text benefits-card-text" data-i18n="benefits.card1Text">Faaliyetlerimiz, finansal piyasaların işleyişi için bağımsız küresel kuruluşlar ve komisyonlar tarafından denetlenmektedir.</p>
                </div>
                <div class="benefits-card">
                    <img 
                        class="benefits-icon"
                        src="../img/benefits/profile-2user.svg"
                        alt="graph"
                        />
                    <div class="benefits-card-text-wrap">
                    <p class="benefits-card-title" data-i18n="benefits.card2Title">Rahat koşullar</p>
                    <p class="text benefits-card-text" data-i18n="benefits.card2Text">Kullanıcı dostu arayüz, ticaret sürecini hızla anlamanızı sağlar.</p>
                    </div>
                </div>
                <div class="benefits-card">
                    <img
                        class="benefits-icon"
                        src="../img/benefits/snapchat.svg"
                        alt="graph"
                        />
                    <div class="benefits-card-text-wrap">
                    <p class="benefits-card-title" data-i18n="benefits.card3Title">Kaliteli hizmet</p>
                    <p class="text benefits-card-text" data-i18n="benefits.card3Text">Yatırım yöneticinizle çalışarak etkili kararlar almanıza yardımcı olur.</p>
                    </div>
                </div>
                <div class="benefits-card">
                    <img
                        class="benefits-icon"
                        src="../img/benefits/24-support.svg"
                        alt="graph"
                        />
                    <div class="benefits-card-text-wrap">
                    <p class="benefits-card-title" data-i18n="benefits.card4Title">5/24 Destek</p>
                    <p class="text benefits-card-text" data-i18n="benefits.card4Text">5/24 platform sağlama ve kullanıcı desteği</p>
                    </div>
                </div>
                <div class="benefits-card">
                    <img
                        class="benefits-icon"
                        src="../img/benefits/setting-2.svg"
                        alt="graph"
                        />
                    <div class="benefits-card-text-wrap">
                    <p class="benefits-card-title" data-i18n="benefits.card5Title">Kolay Hesap Açma</p>
                    <p class="text benefits-card-text" data-i18n="benefits.card5Text">Kripto para varlıklarında hesap açma ve sonrasındaki bakım için ücret ödemezsiniz.</p>
                    </div>
                </div>
                <div class="benefits-card">
                    <img
                        class="benefits-icon"
                        src="../img/benefits/trade.svg"
                        alt="graph"
                        />
                    <div class="benefits-card-text-wrap">
                    <p class="benefits-card-title" data-i18n="benefits.card6Title">Gerçek zamanlı ticaret</p>
                    <p class="text benefits-card-text" data-i18n="benefits.card6Text">Kripto para birimleri, S&P 500, metaller ve diğer varlıklarla ticaret yapın.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>