<section class="steps-section">
    <div class="container">
        <div class="steps-title-wrap"
                data-aos="fade-up"
                data-aos-offset="200"
                data-aos-delay="50"
                data-aos-duration="1000"
                data-aos-easing="ease-in-out"
                data-aos-mirror="true"
                data-aos-once="false"
                data-aos-anchor-placement="top-left">>
        <h2 class="title steps-title">
            ONLY <span class="accent-text">3 STEPS</span> TO OPEN <span class="accent-text">A TRADING ACCOUNT</span>
        </h2>
        <p class="text steps-text">Oskar Group is an award-winning platform that allows you to trade the global financial markets using BTC, USD Tether, USDC and more.</p>
        </div>
        <div class="steps-cards">
            <div class="steps-card">
                <img
                    src="./img/steps/first.svg"
                    alt="first"                    
                    width="60"
                    height="60"
                    />
                    <h4 class="small-title">Go to Registration Page</h4>
                    <p class="steps-card-text">First, go from the main page of the site to the section for creating a new account.</p>
                    <img
                    class="steps-arrow"
                    src="./img/steps/arrow.svg"
                    alt="arrow"
                    />
            </div>
            <div class="steps-card">
                <img
                    src="./img/steps/second.svg"
                    alt="second"
                    width="60"
                    height="60"
                    />
                    <h4 class="small-title">Secondary Market</h4>
                    <p class="steps-card-text">Enter the contact details of the new user and go to your personal account after successful registration.</p>
                    <img
                    class="steps-arrow"
                    src="./img/steps/arrow.svg"
                    alt="arrow"
                    />
            </div>
            <div class="steps-card">
                <img
                    src="./img/steps/third.svg"
                    alt="third"
                    width="60"
                    height="60"
                    />
                    <h4 class="small-title">Add Deposit</h4>
                    <p class="steps-card-text">Replenish your account through your personal account in any convenient way. Be it a credit card or a digital wallet.</p>
                    <img
                    class="steps-arrow"
                    src="./img/steps/arrow.svg"
                    alt="arrow"
                    />
            </div>
        </div>
    </div>
</section>