<section class="steps-section">
    <div class="container">
        <div class="steps-title-wrap"
                data-aos="fade-up"
                data-aos-offset="200"
                data-aos-delay="50"
                data-aos-duration="1000"
                data-aos-easing="ease-in-out"
                data-aos-mirror="true"
                data-aos-once="false"
                data-aos-anchor-placement="top-left">
        <h2 class="title steps-title">
            <span data-i18n="steps.title1">YATIRIM </span><span class="accent-text" data-i18n="steps.title2">HESABI AÇMAK </span> <span data-i18n="steps.title3">İÇİN SADECE </span><span class="accent-text" data-i18n="steps.title4">3 ADIM</span>
        </h2>
        <p class="text steps-text" data-i18n="steps.text">Oskar Group, BTC, USD Tether, USDC ve daha fazlasını kullanarak küresel finansal piyasalarda ticaret yapmanızı sağlayan ödüllü bir platformdur.</p>
        </div>
        <div class="steps-cards">
            <div class="steps-card">
                <img
                    src="../img/steps/first.svg"
                    alt="first"                    
                    width="60"
                    height="60"
                    />
                    <h4 class="small-title" data-i18n="steps.card1Title">Kayıt Sayfasına Git</h4>
                    <p class="steps-card-text" data-i18n="steps.card1Text">Öncelikle, sitenin ana sayfasından yeni bir hesap oluşturma bölümüne gidin.</p>
                    <img
                    class="steps-arrow"
                    src="../img/steps/arrow.svg"
                    alt="arrow"
                    />
            </div>
            <div class="steps-card">
                <img
                    src="../img/steps/second.svg"
                    alt="second"
                    width="60"
                    height="60"
                    />
                    <h4 class="small-title" data-i18n="steps.card2Title">İkincil Pazar</h4>
                    <p class="steps-card-text" data-i18n="steps.card2Text">Yeni kullanıcının iletişim bilgilerini girin ve başarılı bir kayıt işleminden sonra kişisel hesabınıza gidin.</p>
                    <img
                    class="steps-arrow"
                    src="../img/steps/arrow.svg"
                    alt="arrow"
                    />
            </div>
            <div class="steps-card">
                <img
                    src="../img/steps/third.svg"
                    alt="third"
                    width="60"
                    height="60"
                    />
                    <h4 class="small-title" data-i18n="steps.card3Title">Para Yatırma</h4>
                    <p class="steps-card-text" data-i18n="steps.card3Text">Kişisel hesabınız üzerinden hesabınızı dilediğiniz şekilde doldurun. İster kredi kartı ister dijital cüzdan olsun.</p>
                    <img
                    class="steps-arrow"
                    src="../img/steps/arrow.svg"
                    alt="arrow"
                    />
            </div>
        </div>
    </div>
</section>