<div class="markets-table">
        <table id="dynamic-table" class="markets-table-wrap">
            <thead>
                <tr>
                    <th>NAME</th>
                    <th>VALUE</th>
                    <th>CHANGE</th>
                    <th>CHG%</th>
                    <th>OPEN</th>
                    <th>HIGH</th>
                    <th>LOW</th>
                    <th>PREV</th>
                </tr>
            </thead>
            <tbody>
                <!-- Data will be inserted here dynamically -->
            </tbody>
        </table>
</div>